Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle

[build-utils] Remove `as` cast in `glob()` (#8376)
  packages/build-utils/src/fs/glob.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Accept URL argument in `vc git connect` (#8351)
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/disconnect.ts
  packages/cli/src/commands/git/index.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] `vc project ls` visual updates (#8157)
  packages/cli/src/commands/project/list.ts
  packages/cli/src/types.ts
  packages/cli/src/util/strlen.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/project.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] MAJOR: Connect a Git provider repository in `vc link` (#8290)
  packages/build-utils/src/types.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/src/util/link/add-git-connection.ts
  packages/cli/src/util/link/git-connect-prompts.ts
  packages/cli/src/util/link/handle-options.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/projects/create-project.ts
  packages/cli/src/util/projects/update-project.ts
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/git/config
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/commands/link.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] MAJOR: Remove `vc billing` command (#8377)
  packages/cli/package.json
  packages/cli/src/commands/billing/add.js
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/domains/buy.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/src/util/billing/card-brands.json
  packages/cli/src/util/errors-ts.ts
  packages/cli/test/integration.js
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @javivelasco, @mglagola, @anatrajkovska

[cli] MAJOR: `vc ls` visual changes (#8151)
  packages/cli/src/commands/list.ts
  packages/cli/src/types.ts
  packages/cli/src/util/index.ts
  packages/cli/test/helpers/read-output-stream.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/client/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Support more granular file upload progress bar (#8371)
  packages/cli/src/util/deploy/process-deployment.ts
  packages/client/src/upload.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] improve `vc build --help` language (#8380)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

chore: does not add /index when already present (#8373)
  packages/node/src/utils.ts
  packages/node/test/edge-matcher.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Revert "[go] add lambda wrapper support to the go runtime" (#8385)
  packages/go/index.ts
  packages/go/main__mod__.go
  packages/go/test/fixtures/22-large-environment/env/go.mod
  packages/go/test/fixtures/22-large-environment/env/index.go
  packages/go/test/fixtures/22-large-environment/now.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] MAJOR: Remove update command (#8369)
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[ruby] Fix ruby version error message (#8381)
  packages/ruby/install-ruby.ts
  packages/ruby/test/fixtures/11-version-2-5-error/Gemfile
  packages/ruby/test/test.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[ruby] Handle exit code 18 gracefully (#8388)
  packages/ruby/index.ts
  packages/ruby/install-ruby.ts
  packages/ruby/test/fixtures/02-cowsay-vendored/Gemfile
  packages/ruby/test/fixtures/04-cowsay-vendored-nested/project/Gemfile
  packages/ruby/test/fixtures/11-version-2-5-error/Gemfile
  packages/ruby/test/test.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Fix `vc env pull` delta changes bug (#8382)
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.env.testquotes
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.vercel/project.json
  packages/cli/test/unit/commands/env.test.ts
Owners: @styfle, @lucleray, @TooTallNate, @EndangeredMassa

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[ruby] Fix `bundle install` (#8392)
  packages/ruby/index.ts
  packages/ruby/test/fixtures/01-cowsay/Gemfile
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/ruby/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[docs] Remove "watch" from `DEVELOPING_A_RUNTIME.md` (#8391)
  DEVELOPING_A_RUNTIME.md
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] skip ruby test for now (#8404)
  packages/ruby/test/test.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] fix: undefined variable (#8401)
  packages/cli/test/helpers/read-output-stream.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli][tests] remove dupe `inspectorUrl` (#8400)
  package.json
  packages/cli/test/mocks/deployment.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] serialize getDeployment calls in `vercel bisect` (#8403)
  packages/cli/src/commands/bisect/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/ruby/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

add test for main.go scenario
  packages/go/test/fixtures/23-main-go/api/go.mod
  packages/go/test/fixtures/23-main-go/api/index.go
  packages/go/test/fixtures/23-main-go/main.go
  packages/go/test/fixtures/23-main-go/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Revert "add test for main.go scenario"
  packages/go/test/fixtures/23-main-go/api/go.mod
  packages/go/test/fixtures/23-main-go/api/index.go
  packages/go/test/fixtures/23-main-go/main.go
  packages/go/test/fixtures/23-main-go/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Fix un-necessary edge routes being added (#8408)
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-edge-runtime/index.test.js
  packages/next/test/fixtures/00-edge-runtime/next.config.js
  packages/next/test/fixtures/00-edge-runtime/package.json
  packages/next/test/fixtures/00-edge-runtime/pages/api/[id].js
  packages/next/test/fixtures/00-edge-runtime/pages/api/hello.js
  packages/next/test/fixtures/00-edge-runtime/pages/index.js
  packages/next/test/fixtures/00-edge-runtime/probes.json
Owners: @TooTallNate, @ijjk

[cli] Small `vc ls` wording changes (#8405)
  packages/cli/src/commands/list.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Revert "Revert "[go] add lambda wrapper support to the go runtime"" (#8407)
  packages/go/index.ts
  packages/go/main.go
  packages/go/main__mod__.go
  packages/go/test/fixtures/22-large-environment/env/go.mod
  packages/go/test/fixtures/22-large-environment/env/index.go
  packages/go/test/fixtures/22-large-environment/now.json
  packages/go/test/fixtures/23-main-go/api/go.mod
  packages/go/test/fixtures/23-main-go/api/index.go
  packages/go/test/fixtures/23-main-go/main.go
  packages/go/test/fixtures/23-main-go/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Change mentions of "Aborted" to "Canceled" (#8411)
  packages/cli/src/commands/alias/rm.ts
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dns/add.ts
  packages/cli/src/commands/dns/rm.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/rm.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/disconnect.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/secrets.js
  packages/cli/src/commands/teams/add.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/handle-error.ts
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/validate-paths.ts
  packages/cli/test/integration.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray

[cli] Fix `vc link` not respecting `--yes` (#8412)
  packages/cli/src/util/link/add-git-connection.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/git/config
  packages/cli/test/unit/commands/link.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/go/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[next] Update middleware data routes to fix caching (#8431)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/index.test.js
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/pages/_sites/[site].js
  packages/next/test/fixtures/00-middleware/pages/api/revalidate.js
Owners: @TooTallNate, @ijjk

[next] Ensure non-static pages/500 is handled (#8438)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-lambda-pages-500/index.test.js
  packages/next/test/fixtures/00-lambda-pages-500/next.config.js
  packages/next/test/fixtures/00-lambda-pages-500/package.json
  packages/next/test/fixtures/00-lambda-pages-500/pages/404.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/500.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/_app.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/_error.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/index.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/trigger-error.js
  packages/next/test/fixtures/00-lambda-pages-500/probes.json
Owners: @TooTallNate, @ijjk

[python] fix typo in install.ts comment (#8442)
  packages/python/src/install.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/next/package.json
  packages/python/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[go] ignore bad go handlers and rename functions with more precision (#8422)
  packages/go/go.mod
  packages/go/index.ts
  packages/go/test/fixtures/24-bad-handler/.gitignore
  packages/go/test/fixtures/24-bad-handler/api/bad-receiver.go
  packages/go/test/fixtures/24-bad-handler/api/go.mod
  packages/go/test/fixtures/24-bad-handler/probes.json
  packages/go/test/fixtures/24-bad-handler/vercel.json
  packages/go/util/analyze.go
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/go/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Automatically update Next.js example periodically (#8447)
  .github/workflows/cron-update-next.yml
  utils/update-next.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[tests] Fix update-next script (#8452)
  utils/update-next.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] fix WebAssembly bindings evaluating to `undefined` (#8417)
  packages/cli/test/dev/fixtures/edge-function/api/webassembly.js
  packages/cli/test/dev/fixtures/edge-function/increment.wasm
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle
