Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

Publish Canary
  packages/build-utils/package.json
  packages/cgi/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk, @coetry

[node] Fix `tsCompile` uninitialized error (#4275)
  packages/node/src/index.ts
  packages/node/test/fixtures/09-include-files/file.ts
  packages/node/test/fixtures/09-include-files/include-ts-file.js
  packages/node/test/fixtures/09-include-files/vercel.json
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

Publish Stable
  packages/build-utils/package.json
  packages/cgi/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk, @coetry

[cli] Remove "micro" dependency (#5950)
  packages/cli/package.json
  packages/cli/test/helpers/get-url.js
  packages/cli/test/unit.js
  yarn.lock
Owners: @TooTallNate

[cli] Convert `vercel login` command to TypeScript (#5951)
  packages/cli/src/commands/login.ts
  packages/cli/src/util/exit.ts
  packages/cli/src/util/get-args.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/output/ok.js
  packages/cli/src/util/output/ok.ts
Owners: @TooTallNate

[frameworks] Update demo URLs to use `*.examples.vercel.com` (#5960)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[routing-utils] Add has route field to schema (#5919)
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[cli] Add SAML Single Sign-On to `vercel login` (#5957)
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/teams/switch.js
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  yarn.lock
Owners: @TooTallNate

[frameworks] Add static 404 route to CRA (#5972)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[frameworks] Add envPrefix property (#6007)
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Owners: @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[frameworks] Fix "svelte" detection and Dev Command (#6014)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[routing-utils] Add has type host to schema (#6022)
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[routing-utils] Add schema descriptions to routing schema (#6023)
  packages/routing-utils/src/schemas.ts
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[test] Add next image bmp test (#6024)
  packages/cli/test/dev/fixtures/30-next-image-optimization/package.json
  packages/cli/test/dev/fixtures/30-next-image-optimization/vercel.json
  packages/cli/test/dev/integration.js
Owners: @TooTallNate

[examples] Add yarn.lock to blitz (#6037)
  examples/blitzjs/package.json
  examples/blitzjs/yarn.lock
Owners: @mcsdevv, @timothyis

[cli] Re-trigger SSO auth when a SAML error is encountered (#6053)
  packages/cli/src/commands/logout.ts
  packages/cli/src/index.js
  packages/cli/src/types.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/files.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Make `vc whoami` not require team context (#6057)
  packages/cli/src/commands/whoami.js
  packages/cli/src/util/get-scope.ts
Owners: @TooTallNate

[examples] Update CRA go.mod (#6051)
  examples/create-react-app/go.mod
Owners: @Timer

[cli] (Major) Update `vc env` command (#6049)
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/types.ts
  packages/cli/src/util/env/add-env-record.ts
  packages/cli/src/util/env/env-type.ts
  packages/cli/src/util/env/format-env-target.ts
  packages/cli/src/util/env/get-env-records.ts
  packages/cli/src/util/env/remove-env-record.ts
  packages/cli/src/util/get-decrypted-env-records.ts
  packages/cli/test/integration.js
Owners: @styfle, @lucleray, @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Use updated SSO auth URL for login (#6063)
  packages/cli/src/util/login/sso.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Update `vc env` messages (#6081)
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/commands/env/rm.ts
Owners: @styfle, @lucleray

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Bump chalk and change "update available" color (#6084)
  packages/cli/package.json
  packages/cli/src/index.js
  yarn.lock
Owners: @TooTallNate

[cli] Improve error docs for `--scope` (#6085)
  errors/scope-not-accessible.md
  errors/scope-not-existent.md
Owners: @TooTallNate

[cli] Add `vc link` to `vc help` output (#6086)
  packages/cli/src/commands/deploy/args.js
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[examples] Upgrade Next.js example (#6097)
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Owners: @timneutkens, @Timer

[cli] Fix error usage before defined (#6099)
  packages/cli/src/commands/teams.js
  packages/cli/src/index.js
Owners: @TooTallNate

[cli][client] Drop support for Node.js 10 (#6101)
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/node/src/dev-server.ts
Owners: @TooTallNate, @rdev, @styfle, @lucleray

[cli] Replace "mri" with "arg" (#6108)
  packages/cli/@types/arg/index.d.ts
  packages/cli/package.json
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/certs/issue.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/domains/add.ts
  packages/cli/src/commands/domains/ls.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/rm.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/commands/logs.js
  packages/cli/src/commands/remove.js
  packages/cli/src/commands/teams.js
  packages/cli/src/commands/whoami.js
  packages/cli/src/util/config/global-path.ts
  packages/cli/src/util/config/local-path.ts
  packages/cli/test/integration.js
  yarn.lock
Owners: @TooTallNate, @javivelasco, @mglagola, @anatrajkovska, @styfle, @AndyBitz, @lucleray

Publish Canary
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
Owners: @TooTallNate, @rdev, @styfle, @lucleray
