Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

Apply dependabot changes (#6275)
  api/package.json
  api/yarn.lock
  examples/angular/yarn.lock
  examples/blitzjs/yarn.lock
  packages/cli/test/dev/fixtures/02-angular-node/yarn.lock
  packages/cli/test/dev/fixtures/03-aurelia/yarn.lock
  packages/cli/test/dev/fixtures/04-create-react-app/yarn.lock
Owners: @TooTallNate, @mcsdevv, @timothyis

[cli] Fix `vc logout` retry (#6276)
  packages/cli/src/commands/logout.ts
Owners: @TooTallNate

[cli] Set `tokenName` query param for Git provider login methods (#6277)
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/sso.ts
Owners: @TooTallNate

Publish Stable
  packages/cli/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

[cli] Use `ts-eager` to execute build script (#6278)
  packages/cli/package.json
  yarn.lock
Owners: @TooTallNate

[cli] Add SAML reauthentication logic when using different scope (#6263)
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/remove.js
  packages/cli/src/types.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/deploy/get-deployments-by-project-id.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/promise.ts
  packages/cli/src/util/to-host.ts
  yarn.lock
Owners: @TooTallNate

[cli] Bump codecov to 3.8.2 (#6279)
  packages/cli/package.json
  yarn.lock
Owners: @TooTallNate

[cli] Reauthenticate scopes with limited access in `vc switch` (#6280)
  packages/cli/src/commands/teams/switch.ts
  packages/cli/src/types.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/emoji.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/types.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

[cli] Show user's name in `vc switch` command (#6288)
  packages/cli/src/commands/teams/switch.ts
Owners: @TooTallNate

Use proper Apache License format (#6189)
  LICENSE
  package.json
Owners: @TooTallNate

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/node/package.json
  packages/python/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk

[routing-utils] Ensure header key value casing is normalized (#6284)
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Ensure beforeFiles rewrites come after redirects when continuing (#6289)
  packages/routing-utils/src/merge.ts
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/merge.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[python] Remove imports from werkzeug._compat (#6283)
  packages/python/vc_init.py
Owners: @styfle, @TooTallNate

[cli] Fix `vc projects rm` race condition (#6306)
  packages/cli/src/commands/projects.js
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

[cli] Upgrade token scopes in `vc switch` command (#6323)
  packages/cli/src/commands/login.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
Owners: @TooTallNate

[cli] Fix `vc logout` command when using Team scope (#6322)
  packages/cli/src/commands/logout.ts
  packages/cli/src/types.ts
Owners: @TooTallNate

[cli] Convert `vc alias` to TS (#6325)
  packages/cli/src/commands/alias/index.ts
  packages/cli/src/commands/alias/ls.ts
  packages/cli/src/commands/alias/rm.ts
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/types.ts
  packages/cli/src/util/alias/find-alias-by-alias-or-id.ts
  packages/cli/src/util/alias/get-aliases.ts
  packages/cli/src/util/alias/remove-alias-by-id.ts
Owners: @TooTallNate

[node] Update nft to 0.13.1 (#6333)
  packages/node/package.json
  yarn.lock
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[test] Fix corrupt bmp test (#6328)
  packages/cli/test/dev/fixtures/30-next-image-optimization/public/test.bmp
  packages/cli/test/dev/integration.js
Owners: @TooTallNate

[cli] Warn when vercel.json uses `has` (#6327)
  packages/cli/src/util/dev/server.ts
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Print login URL to terminal (#6336)
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/verify.ts
Owners: @TooTallNate

Fix check: true beforeFiles order (#6337)
  packages/routing-utils/src/merge.ts
  packages/routing-utils/test/merge.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[cli] Update "open" to v8.2.0 (#6348)
  packages/cli/package.json
  yarn.lock
Owners: @TooTallNate

[cgi] Remove `@vercel/cgi` Runtime (#6361)
  packages/cgi/.gitignore
  packages/cgi/build.js
  packages/cgi/index.js
  packages/cgi/main.go
  packages/cgi/package.json
  utils/run.js
Owners: @TooTallNate

Remove `utils/go` (#6362)
  utils/go/bridge/bridge.go
  utils/go/bridge/bridge_test.go
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/node/package.json
  packages/python/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk

Update Next.js example favicon (#6367)
  examples/nextjs/public/favicon.ico
Owners: @timneutkens, @Timer

[cli] Finish executing the original command after login with no credentials (#6364)
  packages/cli/src/index.js
Owners: @TooTallNate

[cli] Make `vercel dev` command exit quickly (#6365)
  packages/cli/src/commands/dev/dev.ts
Owners: @TooTallNate, @styfle, @AndyBitz

[node][node-bridge] Add support for ESM (#6121)
  .eslintignore
  packages/node-bridge/.gitignore
  packages/node-bridge/bridge.d.ts
  packages/node-bridge/bridge.js
  packages/node-bridge/launcher.d.ts
  packages/node-bridge/launcher.js
  packages/node-bridge/package.json
  packages/node-bridge/src/launcher.ts
  packages/node-bridge/tsconfig.json
  packages/node-bridge/types.ts
  packages/node/.gitignore
  packages/node/build.js
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/src/helpers.ts
  packages/node/src/index.ts
  packages/node/test/fixtures/20-mixed-modules/entrypoint.mjs
  packages/node/test/fixtures/20-mixed-modules/js/em-jay-ess.mjs
  packages/node/test/fixtures/20-mixed-modules/type-module-package-json/auto.js
  packages/node/test/fixtures/20-mixed-modules/type-module-package-json/nested/also.js
  packages/node/test/fixtures/20-mixed-modules/type-module-package-json/package.json
  packages/node/test/fixtures/20-mixed-modules/vercel.json
  yarn.lock
Owners: @TooTallNate, @styfle, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node-bridge/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[cli] Print timestamp for each line for multi-line log entries (#6384)
  packages/cli/src/commands/logs.ts
Owners: @TooTallNate

[build-utils] Add support for `.mjs` with zero config (#6386)
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
