Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle

[node] Add zero-config support for root-level `middleware.js`/`middleware.ts` file (#7928)
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/src/types.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/cli/test/fixtures/unit/commands/build/middleware/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/middleware/index.html
  packages/cli/test/fixtures/unit/commands/build/middleware/middleware.js
  packages/cli/test/unit/commands/build.test.ts
  packages/node/src/index.ts
  packages/node/test/fixtures/62-edge-middleware/api/edge.js
  packages/node/test/fixtures/62-edge-middleware/middleware.ts
  packages/node/test/fixtures/62-edge-middleware/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[next] Add handling for resolving _next/data URLs (#7935)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Implement `vercel.json` configuration overrides (#7811)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/cli/test/unit/util/input/edit-project-settings.test.ts
  packages/client/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Normalize "src" property in `vc build` (#7943)
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/normalize-src/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/normalize-src/server.js
  packages/cli/test/fixtures/unit/commands/build/normalize-src/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Remove boxen for warnings (#7944)
  packages/cli/src/commands/domains/inspect.ts
  packages/cli/src/util/output/create-output.ts
Owners: @javivelasco, @mglagola, @anatrajkovska, @TooTallNate, @EndangeredMassa, @styfle

[tests] Remove `as any` casting in unit tests (#7945)
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Fix `vc dev` with dynamic paths and ESM (#7946)
  packages/cli/src/util/dev/builder.ts
  packages/cli/test/dev/fixtures/42-dynamic-esm-ext/api/cjs/[id].js
  packages/cli/test/dev/fixtures/42-dynamic-esm-ext/api/esm/[id].mjs
  packages/cli/test/dev/integration-4.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[examples] Add Vercel Analytics for CRA/SvelteKit templates. (#7894)
  examples/create-react-app/.env.production
  examples/create-react-app/package.json
  examples/create-react-app/src/index.js
  examples/create-react-app/src/vitals.js
  examples/create-react-app/yarn.lock
  examples/sveltekit/package.json
  examples/sveltekit/src/lib/vitals.js
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/svelte.config.js
  examples/sveltekit/yarn.lock
Owners: @Timer, @leerob

[cli] Add alias for `vc develop` => `vc dev` (#7955)
  packages/cli/src/commands/index.ts
  packages/cli/test/integration.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Fix `vc dev` when user has ipv6 configured (#7956)
  packages/cli/package.json
  packages/cli/src/util/dev/server.ts
  packages/cli/types/is-port-reachable/index.d.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] add support for Edge Functions in `vercel dev` (#7925)
  packages/cli/test/dev/fixtures/edge-function/api/edge-function.js
  packages/cli/test/dev/fixtures/edge-function/api/package.json
  packages/cli/test/dev/fixtures/edge-function/lib/upper.js
  packages/cli/test/dev/integration-1.test.ts
  packages/node/@types/zeit__ncc/index.d.ts
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/tsconfig.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Update `ts-jest` to v28.0.5 (#7962)
  package.json
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[routing-utils] Convert tests to TypeScript (#7959)
  packages/routing-utils/jest.config.js
  packages/routing-utils/package.json
  packages/routing-utils/test/append.spec.ts
  packages/routing-utils/test/index.spec.ts
  packages/routing-utils/test/merge.spec.ts
  packages/routing-utils/test/superstatic.spec.ts
  packages/routing-utils/tsconfig.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[tests] Allow for multiple probes (#7957)
  test/lib/deployment/test-deployment.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next] Fix _next/data resolving priority with afterFiles (#7968)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/next.config.js
  packages/next/test/fixtures/00-middleware/pages/about.js
  packages/next/test/fixtures/00-middleware/vercel.json
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Stable
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[node] Add missing dependencies for `dev-server.ts` (#7969)
  packages/node/package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] Move `@vercel/build-utils` to "dependencies" (#7934)
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Create tarballs of all packages in Vercel deployment (#7967)
  .vercelignore
  api/_lib/script/build.ts
  package.json
  packages/cli/src/util/pkg.ts
  utils/pack.ts
  utils/tsconfig.json
  utils/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Canary
  packages/cli/package.json
  packages/next/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Stable
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Update to skip middleware for on-demand revalidate (#7978)
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/integration/middleware.test.ts
Owners: @TooTallNate, @ijjk

[examples] Delete `pnpm-lock.yaml` from `examples/sveltekit` because it already contains `yarn.lock` (#7983)
  examples/sveltekit/pnpm-lock.yaml
Owners: @leerob

[next] Update error for internal missing page (#7987)
  packages/next/src/index.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[next] Optimize _next/data route regex (#7992)
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Stable
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[next] Update data regex to be less specific (#7994)
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[cli] Include "argv" in `builds.json` produced by `vc build` (#7988)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Add `requirePath` to "builds.json" in `vc build` (#7990)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Implement `vc build --output` parameter (#7995)
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Check the size of WASM files in the Edge Functions size validation (#7936)
  packages/next/src/edge-function-source/get-edge-function-source.ts
  packages/next/test/unit/get-nextjs-edge-function-source.next-only.test.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[next] Ensure basePath is matched correctly for _next/data resolving (#7999)
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk
