Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle

[next] Update data route handling for i18n and static routes (#8304)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
  packages/next/test/fixtures/00-middleware/vercel.json
Owners: @TooTallNate, @ijjk

[cli] Minor `vc env pull` diff formatting changes (#8303)
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/diff-env-files.ts
  packages/cli/test/unit/commands/env.test.ts
Owners: @styfle, @lucleray, @TooTallNate, @EndangeredMassa

[static-build] set TURBO_CI_VENDOR_ENV_KEY environment variable (#8306)
  packages/static-build/src/index.ts
  packages/static-build/test/fixtures/70-vercel-env-gatsby/package.json
  packages/static-build/test/fixtures/70-vercel-env-gatsby/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Print error from Builder in `vc build` (#8305)
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Strip scheme from `vc inspect` argument (#8307)
  packages/cli/src/commands/inspect.ts
  packages/cli/test/unit/commands/inspect.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Remove legacy config file migration logic (#8199)
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/config/get-default.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[go] refactor away use of `downloaded` result (#8291)
  packages/cli/test/dev/fixtures/go/api/[segement].go
  packages/cli/test/dev/fixtures/go/api/another.go
  packages/cli/test/dev/integration-4.test.ts
  packages/go/index.ts
  packages/go/test/fixtures/20-square-brackets/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Remove un-necessary duplicate i18n route (#8313)
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

[cli] Fix flaky error in `builds.json` tests (#8316)
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] recreate symlinked files instead of copying (#8270)
  packages/build-utils/src/fs/download.ts
  packages/build-utils/src/index.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/static-symlink/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static-symlink/index.html
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] Update package.json scripts (#8318)
  packages/build-utils/package.json
  packages/cli/package.json
  packages/edge/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next] Remove middleware regexp modifying (#8321)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
Owners: @TooTallNate, @ijjk

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/edge/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next] Remove old middleware test (#8323)
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
Owners: @TooTallNate, @ijjk

[cli] Fix vc secret rm (#8320)
  packages/cli/src/commands/secrets.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Add flag to indicate that a custom runtime supports lambda wrappers (#8324)
  packages/build-utils/src/lambda.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[tests] Remove leftover debugging `.pipe()` call in vc build tests (#8317)
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/edge/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Always set `BROWSER=none` env var for frontend dev server in `vc dev` (#8326)
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Refactor framework prefixed env vars into shared function (#8166)
  packages/build-utils/src/get-prefixed-env-vars.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/unit.get-prefixed-env-vars.test.ts
  packages/next/src/index.ts
  packages/redwood/src/index.ts
  packages/static-build/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Fix "retrieve" typo (#8352)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

chore(docs): use relative links for README (#8354)
  README.md
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Push back `nodejs12.x` sunset date (#8355)
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/unit.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[go] fix function name conflict (#8299)
  packages/go/index.ts
  packages/go/package.json
  packages/go/test/fixtures.test.js
  packages/go/test/fixtures/21-func-conflicts/dupe-handler.go
  packages/go/test/fixtures/21-func-conflicts/go.mod
  packages/go/test/fixtures/21-func-conflicts/index.go
  packages/go/test/fixtures/21-func-conflicts/other-package.go
  packages/go/test/fixtures/21-func-conflicts/sub/one.go
  packages/go/test/fixtures/21-func-conflicts/sub/two.go
  packages/go/test/fixtures/21-func-conflicts/vercel.json
  packages/go/test/index.test.ts
  packages/go/tsconfig.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Standardize on `--yes` instead of `--confirm` (#8330)
  packages/cli/src/commands/alias/index.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/commands/domains/index.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/ensure-link.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/integration.js
  packages/cli/test/unit/commands/git.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray

[next] Ensure $$ in ISR page is handled correctly (#8359)
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-i18n-support/pages/$$.js
  packages/next/test/fixtures/00-i18n-support/pages/$$b.js
  packages/next/test/fixtures/00-i18n-support/pages/b$$.js
  packages/next/test/fixtures/00-i18n-support/vercel.json
  packages/next/test/fixtures/00-server-build/pages/$$.js
  packages/next/test/fixtures/00-server-build/pages/$$b.js
  packages/next/test/fixtures/00-server-build/pages/b$$.js
  packages/next/test/fixtures/00-server-build/vercel.json
Owners: @TooTallNate, @ijjk

[examples] Update Astro template for 1.0. (#8357)
  examples/astro/.gitignore
  examples/astro/.vercelignore
  examples/astro/README.md
  examples/astro/package.json
  examples/astro/src/components/Card.astro
  examples/astro/src/components/Layout.astro
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/index.astro
  examples/astro/tsconfig.json
  examples/astro/yarn.lock
Owners: @leerob

[go] add lambda wrapper support to the go runtime (#8350)
  packages/go/index.ts
  packages/go/main.go
  packages/go/main__mod__.go
  packages/go/test/fixtures/22-large-environment/env/go.mod
  packages/go/test/fixtures/22-large-environment/env/index.go
  packages/go/test/fixtures/22-large-environment/now.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/go/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

chore(docs) Add details of how to enable lambda runtime wrappers to custom runtimes (#8360)
  DEVELOPING_A_RUNTIME.md
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] adds /index to / middleware matchers (#8349)
  packages/node/src/utils.ts
  packages/node/test/edge-matcher.test.ts
  packages/node/test/edge-wasm-plugin.test.ts
  packages/node/test/test-utils.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Fix dev query string merging (#8183)
  packages/cli/src/util/dev/parse-query-string.ts
  packages/cli/src/util/dev/router.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/test/dev/fixtures/vite-dev/.gitignore
  packages/cli/test/dev/fixtures/vite-dev/index.html
  packages/cli/test/dev/fixtures/vite-dev/package.json
  packages/cli/test/dev/fixtures/vite-dev/public/favicon.ico
  packages/cli/test/dev/fixtures/vite-dev/src/App.vue
  packages/cli/test/dev/fixtures/vite-dev/src/assets/logo.png
  packages/cli/test/dev/fixtures/vite-dev/src/components/HelloWorld.vue
  packages/cli/test/dev/fixtures/vite-dev/src/main.js
  packages/cli/test/dev/fixtures/vite-dev/vite.config.js
  packages/cli/test/dev/fixtures/vite-dev/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/unit/util/dev/parse-query-string.test.ts
  packages/cli/test/unit/util/dev/router.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Use yarn --frozen-lockfile (#8363)
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[client] Remove extraneous file read during deployment upload (#8366)
  packages/client/src/upload.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[client] Send single `source.tgz` archive when creating deployment (#8356)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/create-deploy.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/deploy/validate-archive-format.ts
  packages/cli/src/util/index.ts
  packages/cli/test/fixtures/unit/commands/deploy/archive/.gitignore
  packages/cli/test/fixtures/unit/commands/deploy/archive/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/deploy/archive/index.html
  packages/cli/test/fixtures/unit/commands/deploy/archive/style.css
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/commands/deploy.test.ts
  packages/client/package.json
  packages/client/src/create-deployment.ts
  packages/client/src/types.ts
  packages/client/src/utils/hashes.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[client] Fix `archive` type on `VercelClientOptions` (#8367)
  packages/client/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[remix] add image optimization configuration (#8217)
  packages/remix/src/build.ts
  packages/remix/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Revert "[remix] add image optimization configuration" (#8375)
  packages/remix/src/build.ts
  packages/remix/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle
