Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle

[tests] Add `vc build` integration test (#7876)
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  test/lib/deployment/log.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] Remove `mkdirp-promise` dependency (#7878)
  packages/node/package.json
  packages/node/src/index.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils][go][next][redwood][static-build] Fix path delimiter on windows (#7881)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
  packages/cli/test/unit/util/get-files.test.ts
  packages/go/go-helpers.ts
  packages/next/src/index.ts
  packages/redwood/src/index.ts
  packages/remix/src/build.ts
  packages/static-build/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] Bump turbo to 1.2.14 (#7887)
  package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[examples] Update SvelteKit example with latest boilerplate (#7892)
  examples/sveltekit/.gitignore
  examples/sveltekit/.prettierignore
  examples/sveltekit/.prettierrc
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package-lock.json
  examples/sveltekit/package.json
  examples/sveltekit/pnpm-lock.yaml
  examples/sveltekit/src/app.css
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/hooks.js
  examples/sveltekit/src/lib/Counter.svelte
  examples/sveltekit/src/lib/form.js
  examples/sveltekit/src/lib/header/Header.svelte
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/src/routes/about.svelte
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/src/routes/todos/_api.js
  examples/sveltekit/src/routes/todos/index.js
  examples/sveltekit/src/routes/todos/index.svelte
  examples/sveltekit/svelte.config.js
Owners: @leerob

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] Update domain tests from .org to .com (#7896)
  packages/cli/test/integration.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] update update-notifier to fix notification of non-latest (#7897)
  packages/cli/package.json
  packages/cli/src/index.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

Revert "[next] Allow edge api endpoints in Next.js" (#7898)
  packages/next/src/index.ts
  packages/next/src/utils.ts
Owners: @TooTallNate, @ijjk

[static-config] Support extracting `export const config` from swc's AST (#7791)
  packages/static-config/package.json
  packages/static-config/src/index.ts
  packages/static-config/src/swc.ts
  packages/static-config/src/validation.ts
  packages/static-config/test/fixtures/extract-const-value.ts
  packages/static-config/test/swc.test.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Fix turbo cache invalidation for GH Actions `RUNNER_OS` (#7899)
  turbo.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Canary
  packages/cli/package.json
  packages/next/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[build-utils] Fix warning for package.json engines (#7900)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/pkg-engine-node-exact/package.json
  packages/build-utils/test/pkg-engine-node-greaterthan/package.json
  packages/build-utils/test/unit.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[examples] Remove `ENABLE_FILE_SYSTEM_API` env var from "remix" template (#7886)
  examples/remix/package.json
  examples/remix/vercel.json
Owners: @leerob

[cli] Add experimental corepack support (#7871)
  packages/build-utils/src/types.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/corepack.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[next] Add regression test for nested middleware (#7901)
  packages/next/test/fixtures/00-middleware-nested/index.test.js
  packages/next/test/fixtures/00-middleware-nested/next.config.js
  packages/next/test/fixtures/00-middleware-nested/package.json
  packages/next/test/fixtures/00-middleware-nested/pages/_middleware.js
  packages/next/test/fixtures/00-middleware-nested/pages/about.js
  packages/next/test/fixtures/00-middleware-nested/pages/blog/_middleware.js
  packages/next/test/fixtures/00-middleware-nested/pages/blog/index.js
  packages/next/test/fixtures/00-middleware-nested/pages/dynamic/[id]/index.js
  packages/next/test/fixtures/00-middleware-nested/pages/fetch-subrequest/index.js
  packages/next/test/fixtures/00-middleware-nested/pages/home/a.js
  packages/next/test/fixtures/00-middleware-nested/pages/home/b.js
  packages/next/test/fixtures/00-middleware-nested/pages/index.js
  packages/next/test/fixtures/00-middleware-nested/vercel.json
Owners: @TooTallNate, @ijjk

[build-utils] Make `repoRootPath` non-optional (#7909)
  packages/build-utils/src/types.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/python/src/index.ts
  packages/remix/test/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[tests] Remove ava `compileEnhancements` property from package.json (#7904)
  packages/cli/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli][client][tests] update to node14-compatible target (drop support for node12) (#7865)
  api/tsconfig.json
  packages/build-utils/tsconfig.json
  packages/cli/package.json
  packages/cli/src/util/build/import-builders.ts
  packages/cli/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/frameworks/tsconfig.json
  packages/go/tsconfig.json
  packages/next/src/index.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-i18n-support/index.test.js
  packages/next/tsconfig.json
  packages/node-bridge/tsconfig.json
  packages/node/src/typescript.ts
  packages/node/tsconfig.json
  packages/python/tsconfig.json
  packages/redwood/tsconfig.json
  packages/remix/tsconfig.json
  packages/routing-utils/tsconfig.json
  packages/ruby/tsconfig.json
  packages/static-build/tsconfig.json
  packages/static-config/tsconfig.json
  test/lib/deployment/fetch-retry.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] increase test timeout; it has been failing recently (#7913)
  packages/cli/test/unit/util/build/import-builders.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] update `vc env pull --help` (#7911)
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/pull.ts
Owners: @styfle, @lucleray, @TooTallNate, @EndangeredMassa

[node] Skip TS compile for `.d.ts` assets (#7918)
  packages/node/src/index.ts
  packages/node/test/fixtures/05-ts-declaration-asset/index.ts
  packages/node/test/fixtures/05-ts-declaration-asset/package.json
  packages/node/test/fixtures/05-ts-declaration-asset/test.d.ts
  packages/node/test/fixtures/05-ts-declaration-asset/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Canary
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Ensure middleware route comes before beforeFiles rewrites (#7912)
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-middleware-nested/vercel.json
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
Owners: @TooTallNate, @ijjk

[build-utils] Allow `EdgeFunction` as a valid output type for version 3 Builders (#7923)
  packages/build-utils/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[static-config] Use "runtime" instead of "use" (#7922)
  packages/static-config/src/index.ts
  packages/static-config/test/fixtures/deno.ts
  packages/static-config/test/fixtures/invalid-schema.js
  packages/static-config/test/fixtures/node.js
  packages/static-config/test/index.test.ts
  packages/static-config/test/swc.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Add initial `vc build` unit tests (#7869)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/src/util/get-files.ts
  packages/cli/src/util/unique-strings.ts
  packages/cli/test/fixtures/unit/commands/build/.gitignore
  packages/cli/test/fixtures/unit/commands/build/node/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/node/api/es6.js
  packages/cli/test/fixtures/unit/commands/build/node/api/index.js
  packages/cli/test/fixtures/unit/commands/build/node/api/mjs.mjs
  packages/cli/test/fixtures/unit/commands/build/node/api/typescript.ts
  packages/cli/test/fixtures/unit/commands/build/static/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static/index.html
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/builders/.gitignore
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/builders/node_modules/txt-builder/index.js
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/builders/node_modules/txt-builder/package.json
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/api/foo.txt
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Output `EdgeFunctions` from version 3 Builders in `vc build` (#7924)
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/builders/.gitignore
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/builders/node_modules/edge-function/builder.js
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/builders/node_modules/edge-function/package.json
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/edge-function/api/edge.js
  packages/cli/test/fixtures/unit/commands/build/edge-function/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] Add support for `EdgeFunction` output type (#7877)
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/test/fixtures/61-edge-function/api/edge.js
  packages/node/test/fixtures/61-edge-function/vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Add getWorkspacePackagePaths function (#7859)
  packages/build-utils/package.json
  packages/build-utils/src/fs/get-glob-fs.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/workspaces/get-workspace-package-paths.ts
  packages/build-utils/src/workspaces/get-workspaces.ts
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/a/package.json
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/b/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/a/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/b/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/pnpm-lock.yaml
  packages/build-utils/test/unit.get-workspaces-package-paths.test.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next] Support Edge API Endpoints (#7905)
  packages/next/src/index.ts
  packages/next/src/utils.ts
Owners: @TooTallNate, @ijjk

[cli][static-build] Fix case when `vc dev` is throwing the wrong error w/ BOAv3 (#7927)
  packages/cli/src/commands/dev/dev.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Increase the maximum size of an edge function to 1MiB (#7903)
  packages/next/src/edge-function-source/constants.ts
  packages/next/src/edge-function-source/get-edge-function-source.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Pull correct env variables in `vc build` command (#7933)
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/static-pull/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static-pull/index.html
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Add getProjectPaths that will evaluate if there is a monorepo (#7826)
  packages/build-utils/src/get-project-paths.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/non-deployed-fixtures/32-monorepo-highly-nested/src/backend/app-three/package.json
  packages/build-utils/test/non-deployed-fixtures/32-monorepo-highly-nested/src/backend/package.json
  packages/build-utils/test/non-deployed-fixtures/32-monorepo-highly-nested/src/frontend/app-one/package.json
  packages/build-utils/test/non-deployed-fixtures/32-monorepo-highly-nested/src/frontend/app-two/package.json
  packages/build-utils/test/non-deployed-fixtures/32-monorepo-highly-nested/src/frontend/package.json
  packages/build-utils/test/non-deployed-fixtures/33-hybrid-monorepo/backend/app-three/package.json
  packages/build-utils/test/non-deployed-fixtures/33-hybrid-monorepo/backend/package.json
  packages/build-utils/test/non-deployed-fixtures/33-hybrid-monorepo/frontend/a/package.json
  packages/build-utils/test/non-deployed-fixtures/33-hybrid-monorepo/frontend/b/package.json
  packages/build-utils/test/non-deployed-fixtures/33-hybrid-monorepo/frontend/package.json
  packages/build-utils/test/non-deployed-fixtures/34-monorepo-no-workspaces/backend/app-three/package.json
  packages/build-utils/test/non-deployed-fixtures/34-monorepo-no-workspaces/backend/package.json
  packages/build-utils/test/non-deployed-fixtures/34-monorepo-no-workspaces/frontend/app-one/package.json
  packages/build-utils/test/non-deployed-fixtures/34-monorepo-no-workspaces/frontend/app-two/package.json
  packages/build-utils/test/non-deployed-fixtures/34-monorepo-no-workspaces/frontend/package.json
  packages/build-utils/test/non-deployed-fixtures/35-no-monorepo/package.json
  packages/build-utils/test/non-deployed-fixtures/36-monorepo-some-nested/frontend/app-one/app-three/package.json
  packages/build-utils/test/non-deployed-fixtures/36-monorepo-some-nested/frontend/app-two/package.json
  packages/build-utils/test/non-deployed-fixtures/36-monorepo-some-nested/frontend/package.json
  packages/build-utils/test/non-deployed-fixtures/37-project-depth-one-level/package.json
  packages/build-utils/test/unit.get-project-paths.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz
