Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

Update trailing slash handling for _next/data resolving (#8080)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] Update canary dist-tag on publish (#8084)
  utils/publish.sh
  utils/update-canary-tag.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] MAJOR: remove `vc deploy` clipboard copy feature (#8085)
  packages/cli/package.json
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/test/dev/utils.js
  test/benchmark.js
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] MAJOR: Scope `vc ls` to linked project (#8053)
  packages/cli/src/commands/list.ts
  packages/cli/src/types.ts
  packages/cli/src/util/ensure-link.ts
  packages/cli/test/fixtures/unit/commands/list/with-team/.gitignore
  packages/cli/test/fixtures/unit/commands/list/with-team/.vercel/project.json
  packages/cli/test/integration.js
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/client/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Remove redundant mock project endpoint (#8089)
  packages/cli/test/mocks/project.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Add `vc project connect` command (#8014)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/projects.ts
  packages/cli/src/types.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/projects/connect-git-provider.ts
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/no-git-config/file.txt
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/.gitignore
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/info/exclude
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/projects.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/hydrogen/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Fix invoke path of `update-canary-tag.js` script (#8092)
  utils/publish.sh
Owners: @TooTallNate, @EndangeredMassa, @styfle

Revert "[cli] Add `vc project connect` command" (#8096)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/projects.ts
  packages/cli/src/types.ts
  packages/cli/src/util/deploy/create-git-meta.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/projects/connect-git-provider.ts
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/no-git-config/file.txt
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/.gitignore
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/info/exclude
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/projects.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Support Builders that don't define `version` property (#8099)
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/.gitignore
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/node_modules/versionless-builder/main.js
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/node_modules/versionless-builder/package.json
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/package.json
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] Provide correct `middlewarePath` when using "Root Directory" setting (#8097)
  packages/cli/test/fixtures/unit/commands/build/middleware-root-directory/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/middleware-root-directory/sub/index.html
  packages/cli/test/fixtures/unit/commands/build/middleware-root-directory/sub/middleware.js
  packages/cli/test/unit/commands/build.test.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/utils.ts
  packages/node/test/utils.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Fix `vc deploy` erroring when `.git` is corrupt (#8094)
  packages/cli/src/util/deploy/create-git-meta.ts
  packages/cli/test/fixtures/unit/create-git-meta/git-corrupt/git/config
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Refactor `vc project` (#8091)
  packages/cli/src/commands/project/add.ts
  packages/cli/src/commands/project/index.ts
  packages/cli/src/commands/project/list.ts
  packages/cli/src/commands/project/rm.ts
  packages/cli/src/commands/projects.ts
  packages/cli/src/index.ts
  packages/cli/test/helpers/parse-table.ts
  packages/cli/test/helpers/read-output-stream.ts
  packages/cli/test/integration.js
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/cli/test/unit/commands/project.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Remove beta warning for `vercel build` (#7991)
  packages/cli/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Try building with ENABLE_VC_BUILD (#8110)
  api/package.json
  vercel.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] remove commented code (#8109)
  packages/cli/test/mocks/matchers/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Explicitly use `vc project` vs. `vc projects` (#8113)
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/test/helpers/parse-table.ts
  packages/cli/test/integration.js
  packages/cli/test/unit/commands/list.test.ts
  packages/cli/test/unit/commands/project.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Debug log error messages in `create-git-meta` (#8112)
  packages/cli/src/util/deploy/create-git-meta.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[remix] fix monorepo support (#8077)
  packages/remix/src/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/remix/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Fix beta label (#8129)
  packages/cli/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] add links to edge error messages (#8048)
  packages/node/src/dev-server.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Remove `DEBUG=corepack` env var (#8131)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/corepack.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[fs-detectors] process detectFramework in parallel (#8128)
  packages/fs-detectors/src/detect-framework.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/fs-detectors/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Fix flaky Git meta test (#8132)
  packages/cli/test/helpers/read-output-stream.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Add retry to npm tests (#8133)
  packages/build-utils/test/unit.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[next][build-utils] allow to declare assets in EdgeFunction constructor (#8127)
  packages/build-utils/src/edge-function.ts
  packages/next/src/utils.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next] Add EdgeRuntime provider environment variable to the builder (#8130)
  packages/next/src/index.ts
Owners: @TooTallNate, @ijjk

[cli] Add `createdAt` to project settings in `vc pull` (#8138)
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/unit/commands/pull.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[fs-detectors] Remove "solidstart" framework from FS API v2 detection (#8134)
  packages/fs-detectors/src/detect-file-system-api.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Add ability to connect Git provider repo (#8100)
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/disconnect.ts
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/project/index.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/projects/connect-git-provider.ts
  packages/cli/test/fixtures/unit/commands/git/connect/bad-remote-url/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/bad-remote-url/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/bad-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/git/description
  packages/cli/test/fixtures/unit/commands/git/connect/invalid-repo/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/invalid-repo/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/invalid-repo/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/new-connection/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/new-connection/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/new-connection/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/no-git-config/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/no-git-config/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/no-remote-url/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/no-remote-url/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/no-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/same-repo-connection/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/same-repo-connection/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/same-repo-connection/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/git/HEAD
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/git/description
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[remix] Fix `isMonorepo` check (#8142)
  packages/remix/src/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] Add missing function import in Project mock (#8143)
  packages/cli/test/mocks/project.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Fix `vercel build` sort order (#8144)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/sort-builders.ts
  packages/cli/test/unit/util/build/sort-builders.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle
