Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

[cli] Fix `vc login` hanging for a few seconds before exiting (#6387)
  packages/cli/src/util/login/oauth.ts
Owners: @TooTallNate

[node] Add support for ESM to `vc dev` (#6385)
  packages/cli/test/dev/fixtures/40-mixed-modules/entrypoint.js
  packages/cli/test/dev/fixtures/40-mixed-modules/entrypoint.mjs
  packages/cli/test/dev/fixtures/40-mixed-modules/entrypoint.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/js/commonjs-module.js
  packages/cli/test/dev/fixtures/40-mixed-modules/js/ecmascript-module.js
  packages/cli/test/dev/fixtures/40-mixed-modules/js/em-jay-ess.mjs
  packages/cli/test/dev/fixtures/40-mixed-modules/js/package.json
  packages/cli/test/dev/fixtures/40-mixed-modules/ts/commonjs-module.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/ts/ecmascript-module.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/ts/package.json
  packages/cli/test/dev/fixtures/40-mixed-modules/type-module-package-json/auto.js
  packages/cli/test/dev/fixtures/40-mixed-modules/type-module-package-json/nested/also.js
  packages/cli/test/dev/fixtures/40-mixed-modules/type-module-package-json/package.json
  packages/cli/test/dev/fixtures/40-mixed-modules/vercel.json
  packages/cli/test/dev/integration.js
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @styfle, @lucleray

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

[cli] Make `vc deploy` not load current "scope" (#6388)
  packages/cli/src/commands/deploy/index.js
  packages/cli/src/commands/deploy/latest.js
Owners: @TooTallNate

chore(examples): update nuxtjs (#6383)
  examples/nuxtjs/.gitignore
  examples/nuxtjs/.vercelignore
  examples/nuxtjs/README.md
  examples/nuxtjs/nuxt.config.js
  examples/nuxtjs/package.json
  examples/nuxtjs/pages/index.vue
  examples/nuxtjs/static/favicon.ico
  examples/nuxtjs/yarn.lock
Owners: @mcsdevv, @timothyis

[frameworks] Add cachePattern to API response (#6395)
  api/frameworks.ts
Owners: @TooTallNate

[cli] Set proper `currentTeam` in `vc deploy` (#6394)
  packages/cli/src/commands/deploy/latest.js
Owners: @TooTallNate

[frameworks] Add missing cachePattern to Next.js (#6396)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[node] Fix ESM when package.json `type: module` (#6399)
  packages/node/src/index.ts
  packages/node/test/fixtures/21-esm-lit/index.js
  packages/node/test/fixtures/21-esm-lit/package.json
  packages/node/test/fixtures/21-esm-lit/vercel.json
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

Fix Ruby E2E tests (#6401)
  packages/ruby/test/fixtures/06-rails/app/Gemfile.lock
Owners: @styfle, @coetry, @TooTallNate

Update to TypeScript 4.3.4 (#6397)
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/src/util/event-listener-to-generator.ts
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/node/src/typescript.ts
  packages/python/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz, @rdev, @lucleray, @dav-is, @ijjk, @coetry

[cli] Use `Client` instead of `LoginParams` for login (#6409)
  packages/cli/src/util/client.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
  packages/cli/test/integration.js
Owners: @TooTallNate

[cli] Set current scope to proper team after SSO login (#6415)
  packages/cli/src/commands/login.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/types.ts
Owners: @TooTallNate

[cli] Use `output.spinner()` instead of `wait()` (#6414)
  packages/cli/src/commands/domains/inspect.ts
  packages/cli/src/commands/domains/ls.ts
  packages/cli/src/commands/projects.js
  packages/cli/src/commands/teams/add.js
  packages/cli/src/commands/teams/list.js
  packages/cli/src/util/certs/create-cert-from-file.ts
  packages/cli/src/util/certs/finish-cert-order.ts
  packages/cli/src/util/certs/start-cert-order.ts
  packages/cli/src/util/dns/get-dns-records.ts
  packages/cli/src/util/dns/import-zonefile.ts
  packages/cli/src/util/domains/add-domain.ts
  packages/cli/src/util/domains/get-domain-by-name.ts
  packages/cli/src/util/domains/get-domain.ts
  packages/cli/src/util/domains/verify-domain.ts
  packages/cli/src/util/projects/add-domain-to-project.ts
  packages/cli/src/util/projects/remove-domain-from-project.ts
Owners: @javivelasco, @mglagola, @anatrajkovska, @TooTallNate

[cli] Convert `vc deploy` to TypeScript (#6413)
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/deploy/latest.ts
  packages/cli/src/types.ts
  packages/cli/src/util/deploy/create-deploy.ts
  packages/cli/src/util/deploy/generate-cert-for-deploy.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/index.js
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/client/src/types.ts
Owners: @TooTallNate, @rdev, @styfle

[test] Update `publish-canary` script (#6432)
  package.json
Owners: @TooTallNate

[cli] Convert `vc whoami` to TypeScript (#6435)
  packages/cli/src/commands/whoami.ts
Owners: @TooTallNate

[routing-utils] Fix `rewrites` with query string array in destination (#6441)
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk, @coetry

[node] Use `require()` when source is TypeScript in `vc dev` (#6448)
  packages/node-bridge/launcher.js
  packages/node-bridge/types.ts
  packages/node/src/dev-server.ts
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node-bridge/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[cli] Convert `vc projects` to TypeScript (#6452)
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/projects.ts
Owners: @TooTallNate

[cli][client] Printable `link` from `deployment.aliasWarning` (#6454)
  packages/cli/src/commands/deploy/latest.ts
  packages/client/src/check-deployment-status.ts
Owners: @TooTallNate, @rdev, @styfle

[cli] Add "out-of-band" mode to `vc login` (#6455)
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/saml.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
  yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/client/package.json
Owners: @TooTallNate, @rdev, @styfle

[examples][frameworks] Add support for `vite` (#6445)
  examples/vite/.gitignore
  examples/vite/.vercelignore
  examples/vite/README.md
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/public/favicon.ico
  examples/vite/src/App.vue
  examples/vite/src/assets/logo.png
  examples/vite/src/components/HelloWorld.vue
  examples/vite/src/main.js
  examples/vite/vite.config.js
  examples/vite/yarn.lock
  packages/frameworks/logos/vite.svg
  packages/frameworks/src/frameworks.ts
Owners: @mcsdevv, @timothyis, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Add billing to list of commands (#6471)
  packages/cli/src/commands/deploy/args.ts
Owners: @TooTallNate

[cli] Add "Local Development" section to README (#6472)
  packages/cli/README.md
Owners: @TooTallNate

[cli] Handle the `ssoUserId` being pasted in "out-of-band" login mode (#6476)
  packages/cli/src/util/login/oauth.ts
Owners: @TooTallNate

[cli] Convert `vc ls` and `vc rm` commands to TypeScript (#6460)
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/types.ts
  packages/cli/src/util/deploy/get-deployments-by-project-id.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Remove "now" from variable names in `vc dev` (#6483)
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/router.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/templates/error.jst
  packages/cli/src/util/dev/templates/error.tsdef
  packages/cli/src/util/dev/templates/error_404.jst
  packages/cli/src/util/dev/templates/error_404.tsdef
  packages/cli/src/util/dev/templates/error_502.jst
  packages/cli/src/util/dev/templates/error_502.tsdef
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Allow dynamic label in `output.time()` function (#6492)
  packages/cli/src/util/output/create-output.ts
Owners: @TooTallNate

[cli] Add "x-vercel-id" response header to `--debug` logs (#6508)
  packages/cli/src/util/client.ts
Owners: @TooTallNate

[cli] Add request counter to `--debug` logs (#6510)
  packages/cli/src/util/client.ts
  packages/cli/src/util/output/create-output.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[frameworks][examples] Add support for zero-config SvelteKit (#6482)
  examples/svelte/README.md
  examples/svelte/api/date.js
  examples/svelte/package.json
  examples/svelte/public/global.css
  examples/svelte/public/index.html
  examples/svelte/rollup.config.js
  examples/svelte/scripts/setupTypeScript.js
  examples/svelte/src/App.svelte
  examples/svelte/yarn.lock
  examples/sveltekit/.gitignore
  examples/sveltekit/.npmrc
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package.json
  examples/sveltekit/src/app.html
  examples/sveltekit/src/global.d.ts
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/static/favicon.png
  examples/sveltekit/static/twitter.png
  examples/sveltekit/svelte.config.js
  examples/sveltekit/yarn.lock
  packages/frameworks/src/frameworks.ts
Owners: @mcsdevv, @timothyis, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
