Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

Publish Canary
  packages/cli/package.json
  packages/middleware/package.json
Owners: @TooTallNate

[cli] Rename certain outputs in `vercel build` (#6948)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[build-utils] Add `convertRuntimeToPlugin()` (#6942)
  packages/build-utils/package.json
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/src/fs/normalize-path.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/types.ts
  packages/build-utils/test/fixtures/20-npm-7/vercel.json
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/build-utils/test/walk/python-api/api/index.py
  packages/build-utils/test/walk/python-api/api/users/get.py
  packages/build-utils/test/walk/python-api/api/users/post.py
  packages/build-utils/test/walk/python-api/file.txt
  packages/build-utils/test/walk/python-api/util/date.py
  packages/build-utils/test/walk/python-api/util/math.py
  packages/build-utils/test/walk/python-api/vercel.json
  packages/cli/src/util/path-helpers.ts
  yarn.lock
Owners: @styfle, @AndyBitz, @TooTallNate

[node] Fix launcher ESM on Windows dev (#6953)
  packages/node-bridge/launcher.js
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node-bridge/package.json
  packages/node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node/package.json
  packages/plugin-node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[cli] Run middleware as a plugin instead of running directly (#6941)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/plugins.ts
  packages/middleware/build.js
  packages/middleware/package.json
  packages/middleware/src/index.ts
  utils/run.js
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/cli/package.json
  packages/middleware/package.json
Owners: @TooTallNate

[routing-utils] Add caseSensitive field to routes schema (#6952)
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/merge.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[cli] Fix NFT output path for monorepos (#6965)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Ignore .next/cache in `vc build` (#6968)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

Add plugin packages for go/python/ruby (#6961)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/index.ts
  packages/plugin-go/package.json
  packages/plugin-go/src/index.ts
  packages/plugin-go/tsconfig.json
  packages/plugin-python/package.json
  packages/plugin-python/src/index.ts
  packages/plugin-python/tsconfig.json
  packages/plugin-ruby/package.json
  packages/plugin-ruby/src/index.ts
  packages/plugin-ruby/tsconfig.json
  packages/python/tsconfig.json
  utils/run.js
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
  packages/python/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @coetry

Fix middleware build result. Return middleware next when invalid result. (#6963)
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/edge-middleware-invalid-response/_middleware.js
  packages/cli/test/util/dev/server.test.ts
  packages/middleware/src/entries.js
  packages/middleware/test/build.test.ts
  packages/middleware/test/fixtures/simple/_middleware.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/cli/package.json
  packages/middleware/package.json
Owners: @TooTallNate

[tests] Fix getting of config paths (#6969)
  packages/cli/src/util/config/global-path.ts
  packages/cli/src/util/config/local-path.ts
Owners: @TooTallNate

[cli] Prevent recursion of `vercel build` and `vercel dev` (#6960)
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[build-utils][node] Add `updateFunctionsManifest` function (#6971)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/plugin-node/package.json
  packages/plugin-node/src/index.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli] Fix updating of gitignore in `vercel link` (#6986)
  packages/cli/src/util/projects/link.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Owners: @TooTallNate

[vercel-plugin-node] Use `.nft.json` files instead of directories. (#6988)
  .gitignore
  packages/plugin-node/package.json
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
  yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/plugin-node/package.json
Owners: @TooTallNate

[go] Add support for version 1.17 (#7002)
  packages/go/go-helpers.ts
  packages/go/test/fixtures/01-cowsay/vercel.json
  packages/go/test/fixtures/13-go-mod-nested/go.mod
Owners: @styfle, @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/go/package.json
  packages/plugin-go/package.json
Owners: @TooTallNate, @styfle

[cli] Change `vc build` to use stdout (#7005)
  packages/cli/src/commands/build.ts
  packages/cli/src/index.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[cli] Fix update command to favor npm (#7018)
  packages/cli/src/util/get-update-command.ts
  packages/cli/test/util/get-update-command.test.ts
Owners: @TooTallNate

[cli] Fix spinner output outside of TTY (#7017)
  packages/cli/src/util/output/create-output.ts
Owners: @TooTallNate

[tests] Increase CI duration (#7030)
  .github/workflows/test-integration-dev.yml
Owners: @AndyBitz, @styfle

[cli] Switch from hardlinks to symlinks in vc build (#7026)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

[python] Upgrade python 3.9 (#7008)
  packages/python/src/index.ts
  packages/python/src/install.ts
  packages/python/tsconfig.json
  test/lib/deployment/now-deploy.js
Owners: @styfle, @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/plugin-python/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

[tests] Make test more reliable for function timeout (#7033)
  packages/cli/test/integration.js
Owners: @TooTallNate

[frameworks][cli] Consolidate buildCommand and devCommand (#7032)
  api/frameworks.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/dev/dev.ts
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Owners: @TooTallNate, @styfle, @AndyBitz

[frameworks] Fix Parcel default output directory to dist (#7029)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev
