Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

[cli] Update readme (#6622)
  packages/cli/README.md
Owners: @TooTallNate

[node-bridge] Fix error in node-bridge from decoded path (#6583)
  packages/node-bridge/bridge.js
  packages/node-bridge/test/bridge.test.js
Owners: @styfle, @TooTallNate, @lucleray

[cli] Support `--project` flag in `vc link` command (#6614)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @coetry

[cli] Refactor `vc teams` to TypeScript (#6610)
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/teams/add.ts
  packages/cli/src/commands/teams/index.ts
  packages/cli/src/commands/teams/invite.ts
  packages/cli/src/commands/teams/list.ts
  packages/cli/src/commands/teams/switch.ts
  packages/cli/src/index.js
  packages/cli/src/util/client.ts
  packages/cli/src/util/get-scope.ts
  packages/cli/src/util/get-teams.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/output/chars.ts
  packages/cli/src/util/projects/link.ts
  packages/cli/src/util/teams.js
  packages/cli/src/util/teams/create-team.ts
  packages/cli/src/util/teams/get-team-by-id.ts
  packages/cli/src/util/teams/get-teams.ts
  packages/cli/src/util/teams/invite-user-to-team.ts
  packages/cli/src/util/teams/patch-team.ts
Owners: @javivelasco, @mglagola, @anatrajkovska, @TooTallNate

delete yarn.lock
  examples/angular/yarn.lock
Owners: @mcsdevv, @timothyis

update npm peer dependencies
  examples/angular/package-lock.json
  examples/angular/package.json
Owners: @mcsdevv, @timothyis

Revert "update npm peer dependencies"
  examples/angular/package-lock.json
  examples/angular/package.json
Owners: @mcsdevv, @timothyis

Revert "delete yarn.lock"
  examples/angular/yarn.lock
Owners: @mcsdevv, @timothyis

[examples] Update `angular` example to npm 7 (#6636)
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/angular/yarn.lock
Owners: @mcsdevv, @timothyis

Update `@vercel/ncc` to v0.29.2 (#6605)
  package.json
  packages/build-utils/package.json
  packages/build-utils/src/file-fs-ref.ts
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/util/dev/builder-cache.ts
  packages/go/package.json
  packages/node-bridge/launcher.js
  packages/node/build.js
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/typescript.ts
  packages/node/test/fixtures/21-esm-lit/package.json
  packages/node/test/fixtures/21-esm-lit/yarn.lock
  packages/node/tsconfig.json
  packages/python/package.json
  packages/ruby/package.json
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz, @lucleray, @coetry

[cli] Refactor `src/index` to TypeScript (#6602)
  packages/cli/@types/intercept-stdout/index.d.ts
  packages/cli/@types/promisepipe/index.d.ts
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/alias/get-deployment-by-alias.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/get-default.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/output/create-output.ts
  packages/cli/src/util/output/error.ts
  packages/cli/tsconfig.json
  packages/cli/types/epipebomb/index.d.ts
  packages/cli/types/intercept-stdout/index.d.ts
  packages/cli/types/is-port-reachable/index.d.ts
  packages/cli/types/jsonlines/index.d.ts
  packages/cli/types/promisepipe/index.d.ts
  packages/cli/types/serve-handler/index.d.ts
  packages/cli/types/zeit__source-map-support/index.d.ts
  yarn.lock
Owners: @TooTallNate

[cli] Remove broken `vc downgrade` command (#6643)
  packages/cli/src/commands/index.ts
Owners: @TooTallNate

[examples] Bump Next.js to 11.1.2 (#6648)
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Owners: @timneutkens, @Timer

[cli] Refactor legacy `Now` client to TypeScript (#6650)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/files.ts
  packages/cli/src/util/deploy/create-deploy.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/cli/src/util/input/patch-inquirer-legacy.ts
  packages/cli/src/util/input/patch-inquirer.ts
  packages/cli/src/util/link/setup-and-link.ts
Owners: @TooTallNate

[build-utils] Add `allowQuery` to Lambda (#6651)
  packages/build-utils/src/lambda.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @coetry

[build-utils] Fix custom 404 route (#6657)
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Temporarily enable issues
  .github/ISSUE_TEMPLATE/config.yml
Owners: @TooTallNate

Disable blank issues again
  .github/ISSUE_TEMPLATE/config.yml
Owners: @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Fix lerna publish for automation token (#6666)
  utils/publish.sh
Owners: @TooTallNate

Update NPM publish token (#6672)
  .github/workflows/publish.yml
Owners: @AndyBitz, @styfle

Temporarily enable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Owners: @TooTallNate

Disable blank issues again
  .github/ISSUE_TEMPLATE/config.yml
Owners: @TooTallNate

Enabled blank issues temporarily
  .github/ISSUE_TEMPLATE/config.yml
Owners: @TooTallNate

[routing-utils] Ensure headers with only has items are replaced correctly (#6686)
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[python] Use pip `--upgrade` when installing function dependencies (#6683)
  packages/python/src/install.ts
  packages/python/test/fixtures/29-flask2/api/werkzeug_version.py
  packages/python/test/fixtures/29-flask2/requirements.txt
  packages/python/test/fixtures/29-flask2/vercel.json
Owners: @styfle, @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

[all] Bump ncc to 0.31.1 (#6700)
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  yarn.lock
Owners: @styfle, @AndyBitz, @TooTallNate, @lucleray, @coetry

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @coetry

[routing-utils] Fix host segment replacing (#6713)
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[node] Bump nft to 0.14.0 (#6727)
  packages/node/package.json
  yarn.lock
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[routing-utils] Allow passing internal params to convertRewrites (#6742)
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[all] Revert to `@vercel/ncc@0.24.0` (#6749)
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  yarn.lock
Owners: @styfle, @AndyBitz, @TooTallNate, @lucleray, @coetry

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @coetry

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
