Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

Fix has segment validation in destination (#6521)
  packages/routing-utils/src/index.ts
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/index.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

Don't render SvelteKits port flag in the UI (#6522)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[examples] Update Deploy button URLs in examples (#6523)
  .github/EXAMPLE_README_TEMPLATE.md
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/custom-build/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/sveltekit/README.md
  examples/umijs/README.md
  examples/vanilla-pusher-functions/README.md
  examples/vite/README.md
  examples/vue/README.md
Owners: @TooTallNate, @mcsdevv, @timothyis, @Timer, @styfle

[build-utils] Convert `unit.test` to TypeScript and fix jest types in VS Code (#6527)
  packages/build-utils/jest.config.js
  packages/build-utils/package.json
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/tsconfig.json
  packages/build-utils/test/unit.test.ts
  packages/build-utils/test/unit.walk.test.ts
  yarn.lock
Owners: @styfle, @AndyBitz, @TooTallNate

[build-utils] Convert integration tests to TypeScript (#6528)
  packages/build-utils/package.json
  packages/build-utils/test/integration.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

[examples][frameworks][nuxtjs] Update design and starter page (#6290)
  examples/nuxtjs/assets/README.md
  examples/nuxtjs/components/Logo.vue
  examples/nuxtjs/components/README.md
  examples/nuxtjs/components/Tutorial.vue
  examples/nuxtjs/layouts/README.md
  examples/nuxtjs/layouts/default.vue
  examples/nuxtjs/middleware/README.md
  examples/nuxtjs/nuxt.config.js
  examples/nuxtjs/package.json
  examples/nuxtjs/pages/README.md
  examples/nuxtjs/pages/index.vue
  examples/nuxtjs/plugins/README.md
  examples/nuxtjs/static/README.md
  examples/nuxtjs/static/favicon.ico
  examples/nuxtjs/store/README.md
  examples/nuxtjs/yarn.lock
Owners: @mcsdevv, @timothyis

Fixed links (#6529)
  README.md
Owners: @TooTallNate

[build-utils] Return "lockfileVersion" property in `scanParentDirs()` function (#6533)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/fixtures/20-npm-7/package-lock.json
  packages/build-utils/test/fixtures/20-npm-7/package.json
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

[build-utils] Invoke npm 7 when lockfile version 2 is detected (#6532)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/20-npm-7/package-lock.json
  packages/build-utils/test/fixtures/20-npm-7/package.json
  packages/build-utils/test/fixtures/20-npm-7/vercel.json
  packages/build-utils/test/integration.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[build-utils] Add logging for when npm 7 is used (#6552)
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk, @coetry

[tests] Define `jest`/`ts-jest` deps at the root level (#6556)
  package.json
  packages/build-utils/package.json
  packages/frameworks/package.json
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz

[build-utils] Make `scanParentDirs()` work with npm Workspaces (#6559)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/21-npm-workspaces/a/package.json
  packages/build-utils/test/fixtures/21-npm-workspaces/b/package.json
  packages/build-utils/test/fixtures/21-npm-workspaces/package-lock.json
  packages/build-utils/test/fixtures/21-npm-workspaces/package.json
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[build-utils] Fix test name
  packages/build-utils/test/unit.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[build-utils] check to see that the node version is less then 16 befo… (#6553)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/node/src/index.ts
Owners: @styfle, @AndyBitz, @TooTallNate, @lucleray

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

[cli] Fix in-flight re-login when there are no existing credentials (#6565)
  packages/cli/src/index.js
Owners: @TooTallNate

[cli] Add "outDir" to `tsconfig.json` (#6566)
  packages/cli/tsconfig.json
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

[client][frameworks][api] Update `readdir()` call with `withFileTypes` (#6554)
  api/_lib/examples/summary.ts
  packages/client/src/create-deployment.ts
  packages/frameworks/src/frameworks.ts
Owners: @TooTallNate, @rdev, @styfle, @AndyBitz

[api] Fix `GET /api/examples/list` output (#6574)
  api/_lib/examples/summary.ts
Owners: @TooTallNate

[cli] Remove unnecessary `await` in Dev tests (#6572)
  packages/cli/test/dev/integration.js
Owners: @TooTallNate

[cli] Remove `withSpinner()` helper (#6576)
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/util/with-spinner.ts
Owners: @javivelasco, @mglagola, @anatrajkovska, @styfle, @lucleray, @TooTallNate

bump react-scripts to @latest (#6577)
  examples/create-react-app/package.json
Owners: @Timer

[cli] Attempt to fix the "lambda-with-3-second-timeout" E2E test (#6579)
  packages/cli/test/integration.js
Owners: @TooTallNate

[cli] Use `client.fetch()` in `vc init` (#6575)
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/test/integration.js
Owners: @TooTallNate

[examples] Bump Next.js to 11.1.0 (#6582)
  examples/nextjs/.eslintrc.json
  examples/nextjs/README.md
  examples/nextjs/next.config.js
  examples/nextjs/package.json
  examples/nextjs/pages/api/hello.js
  examples/nextjs/pages/index.js
  examples/nextjs/styles/Home.module.css
  examples/nextjs/yarn.lock
Owners: @timneutkens, @Timer

Fix publish script for Windows (#6591)
  package.json
  utils/changelog.js
Owners: @TooTallNate

[cli] Refactor a handful of util modules to TypeScript (#6584)
  packages/cli/package.json
  packages/cli/src/commands/billing/add.js
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/deploy/latest.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/commands/teams/add.js
  packages/cli/src/commands/teams/invite.js
  packages/cli/src/types.ts
  packages/cli/src/util/build-state.js
  packages/cli/src/util/build-state.ts
  packages/cli/src/util/config/get-default.ts
  packages/cli/src/util/env/format-env-target.ts
  packages/cli/src/util/get-project-name.js
  packages/cli/src/util/get-project-name.ts
  packages/cli/src/util/indent.js
  packages/cli/src/util/input/regexes.ts
  packages/cli/src/util/output/builds.ts
  packages/cli/src/util/output/effect.js
  packages/cli/src/util/output/format-log-cmd.js
  packages/cli/src/util/output/format-log-output.js
  packages/cli/src/util/output/format-log-text.js
  packages/cli/src/util/output/indent.ts
  packages/cli/src/util/output/note.js
  packages/cli/src/util/output/note.ts
  packages/cli/src/util/output/ready.js
  packages/cli/src/util/output/ready.ts
  packages/cli/src/util/output/right-pad.js
  packages/cli/src/util/output/routes.ts
  packages/cli/src/util/output/table.ts
  packages/cli/src/util/output/uid.ts
  packages/cli/src/util/parse-meta.ts
  packages/cli/src/util/pkg-name.ts
  packages/cli/src/util/prompt-options.js
  packages/cli/src/util/url.ts
  packages/cli/test/unit.js
  yarn.lock
Owners: @TooTallNate

[go][node][python][ruby] Remove `@now/build-utils` backwards compat hack (#6603)
  packages/go/build-utils.ts
  packages/go/build.js
  packages/go/go-helpers.ts
  packages/go/index.ts
  packages/node/build.js
  packages/node/src/build-utils.ts
  packages/node/src/index.ts
  packages/node/src/typescript.ts
  packages/python/build.js
  packages/python/src/build-utils.ts
  packages/python/src/index.ts
  packages/python/src/install.ts
  packages/ruby/build-utils.ts
  packages/ruby/build.js
  packages/ruby/index.ts
  packages/ruby/install-ruby.ts
Owners: @styfle, @TooTallNate, @lucleray, @coetry

[cli] Stop installing `@now/build-utils` for `vc dev` (#6604)
  packages/cli/src/util/dev/builder-cache.ts
  packages/cli/test/dev/fixtures/invalid-builder-routes/vercel.json
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Show server-side `errorMessage` upon deployment `UNEXPECTED_ERROR` (#6606)
  packages/cli/src/util/index.js
Owners: @TooTallNate

Fix deprecation message for `NowRequestBody` (#6613)
  packages/node/src/types.ts
Owners: @styfle, @TooTallNate, @lucleray

Update README (#6618)
  README.md
Owners: @TooTallNate
