Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle

[cli] Only show "Removing `.vercel/output`" log when directory exists in `vc dev` (#8004)
  packages/cli/src/commands/dev/dev.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] Implement `matcher` config support for Middleware (#8001)
  packages/cli/test/fixtures/unit/commands/build/middleware-with-matcher/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/middleware-with-matcher/index.html
  packages/cli/test/fixtures/unit/commands/build/middleware-with-matcher/middleware.js
  packages/cli/test/fixtures/unit/commands/build/middleware/middleware.js
  packages/cli/test/unit/commands/build.test.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/utils.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[examples] Address follow up from SvelteKit example update (#8002)
  examples/sveltekit/package.json
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/svelte.config.js
Owners: @leerob

[examples] Update `remix` template (#7917)
  examples/remix/.eslintrc.js
  examples/remix/.gitignore
  examples/remix/api/index.js
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/demos/about.tsx
  examples/remix/app/routes/demos/about/index.tsx
  examples/remix/app/routes/demos/about/whoa.tsx
  examples/remix/app/routes/demos/actions.tsx
  examples/remix/app/routes/demos/params.tsx
  examples/remix/app/routes/demos/params/$id.tsx
  examples/remix/app/routes/demos/params/index.tsx
  examples/remix/app/routes/index.tsx
  examples/remix/package-lock.json
  examples/remix/package.json
  examples/remix/remix.config.js
  examples/remix/server.js
Owners: @leerob

[next] Fix normalizing for _next/data/index.json route with middleware (#8005)
  packages/next/src/server-build.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/next/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Stable
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[next] Ensure trailing slash is handled while resolving _next/data rewrites (#8015)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/pages/_sites/[site].js
  packages/next/test/fixtures/00-middleware/vercel.json
  test/lib/deployment/test-deployment.js
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Add @vercel/edge with helpers for Middleware (#8022)
  packages/edge/README.md
  packages/edge/package.json
  packages/edge/src/index.ts
  packages/edge/src/middleware-helpers.ts
  packages/edge/test/middleware-helpers.test.ts
  packages/edge/tsconfig.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Update max size warning to handle initial layer better (#8013)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/next.config.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/package.json
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/404.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/_app.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/api/hello.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/index.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/vercel.json
Owners: @TooTallNate, @ijjk

[next] allow to declare edge functions outside of /api/ in Next.js (#7997)
  packages/next/src/index.ts
Owners: @TooTallNate, @ijjk

Publish Canary
  packages/cli/package.json
  packages/edge/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[cli] Support root-level Middleware file in `vc dev` (#7973)
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/headers.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-500-response/middleware.js
  packages/cli/test/dev/fixtures/middleware-error-at-init/middleware.js
  packages/cli/test/dev/fixtures/middleware-error-in-handler/middleware.js
  packages/cli/test/dev/fixtures/middleware-redirect/middleware.js
  packages/cli/test/dev/fixtures/middleware-response/middleware.js
  packages/cli/test/dev/fixtures/middleware-rewrite-query/api/fn.js
  packages/cli/test/dev/fixtures/middleware-rewrite-query/middleware.js
  packages/cli/test/dev/fixtures/middleware-rewrite/another.html
  packages/cli/test/dev/fixtures/middleware-rewrite/index.html
  packages/cli/test/dev/fixtures/middleware-rewrite/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[cli] Support "http:" scheme in `vc bisect` (#8023)
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/util/bisect/normalize-url.ts
  packages/cli/test/unit/util/bisect/normalize-url.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[remix] Don't depend on `@remix-run/vercel` (#8029)
  packages/remix/package.json
  packages/remix/src/build.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli][node] make error handling of edge functions consistent with serverless functions in `vc dev` (#8007)
  .prettierignore
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-config.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-no-handler.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-runtime.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-startup.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-syntax.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-unknown-import.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-500-response.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/fixtures/edge-function/package.json
  packages/cli/test/dev/fixtures/edge-function/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/utils.js
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Bump turbo to 1.3.1 (#8011)
  package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli][dev][node] Support `matchers` config for Middleware in `vc dev` (#8033)
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-matchers/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[@vercel/edge] add header helpers (#8036)
  packages/edge/src/edge-headers.ts
  packages/edge/src/index.ts
  packages/edge/test/edge-headers.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/edge/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli][node] switch to esbuild for compiling edge functions (#8032)
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-syntax.js
  packages/cli/test/dev/integration-1.test.ts
  packages/node/package.json
  packages/node/src/dev-server.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Remove TODO comments from Middleware matchers vc dev test (#8037)
  packages/cli/test/dev/integration-4.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next][node][redwood][remix] Bump `@vercel/nft` to 0.20.1 (#8042)
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

Revert "[next] Update max size warning to handle initial layer better" (#8047)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/next.config.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/package.json
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/404.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/_app.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/api/hello.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/index.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/vercel.json
Owners: @TooTallNate, @ijjk

Publish Stable
  packages/cli/package.json
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[cli][dev] fix: creating "api/some-func.js" after "vc dev" now works (#8041)
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/no-api/vercel.json
  packages/cli/test/dev/integration-2.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Ensure uncompressed limit is correct (#8049)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/next.config.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/package.json
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/404.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/_app.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/api/hello.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/index.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/vercel.json
  packages/next/test/integration/test-limit-large-uncompressed-files/next.config.js
  packages/next/test/integration/test-limit-large-uncompressed-files/package.json
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/_app.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/another.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/api/hello-1.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/api/hello-2.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/api/hello-3.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/api/hello-4.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/api/hello.js
  packages/next/test/integration/test-limit-large-uncompressed-files/pages/index.js
  packages/next/test/integration/test-limit-large-uncompressed-files/vercel.json
Owners: @TooTallNate, @ijjk

[cli] Add `Client#stdin` / `Client#stdout` (#8039)
  packages/cli/src/commands/alias/rm.ts
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dns/add.ts
  packages/cli/src/commands/domains/buy.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/rm.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/index.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/dns/get-dns-data.ts
  packages/cli/src/util/domains/purchase-domain-if-available.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/input/input-root-directory.ts
  packages/cli/src/util/input/prompt-bool.ts
  packages/cli/src/util/input/read-standard-input.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/validate-paths.ts
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/mock.test.ts
  packages/cli/test/unit/util/input/edit-project-settings.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray

[cli] Fix `vc build` lambda serialization when there's a broken symlink (#8050)
  packages/cli/src/util/build/write-build-result.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Handle `npm bin` exit code 7 (#8058)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.exec-async.test.ts
  packages/build-utils/test/unit.spawn-async.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[node] Fix public TypeScript types (#8064)
  packages/node/build.js
  packages/node/src/example-import.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Add yarn.lock to saber test fixture (#8068)
  packages/static-build/test/fixtures/25-saber/yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[build-utils][next][redwood][remix][static-build] Fix corepack path prepend (#8065)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
  packages/build-utils/test/unit.get-spawn-options.test.ts
  packages/next/src/index.ts
  packages/redwood/src/index.ts
  packages/remix/src/build.ts
  packages/static-build/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Fix Middleware "matchers" with query string in `vc dev` (#8069)
  packages/cli/test/dev/fixtures/middleware-matchers/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[examples] Remove stray `console.log`. (#8070)
  examples/create-react-app/src/vitals.js
Owners: @Timer

[build-utils] Stricter `getNodeBinPath` return type (#8082)
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz
