Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

[cli] Fix metrics crash on some platforms (#7034)
  packages/cli/src/util/metrics.ts
Owners: @TooTallNate

[plugin-node][node] Fix dependency installation, handler path, and build script (#7043)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/index.ts
  packages/node/build.js
  packages/node/src/index.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/package.json
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/profile.js
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/script.js
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/users/[id].js
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/yarn.lock
  packages/plugin-node/test/fixtures/nested-lock-and-build/package.json
  packages/plugin-node/test/fixtures/nested-lock-and-build/yarn.lock
Owners: @styfle, @AndyBitz, @TooTallNate, @lucleray

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

Revert "[cli] Switch from hardlinks to symlinks in vc build" (#7054)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

[tests] Bump cancel action to 0.9.1 (#7055)
  .github/workflows/cancel.yml
Owners: @AndyBitz, @styfle

[python] Add warning for deprecated version (#7053)
  DEVELOPING_A_RUNTIME.md
  packages/python/src/index.ts
  packages/python/test/fixtures/01-cowsay/vercel.json
  packages/python/test/fixtures/02-wsgi-pipenv/now.json
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/now.json
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/fixtures/04-cowsay-pipfile/now.json
  packages/python/test/fixtures/04-cowsay-pipfile/vercel.json
Owners: @TooTallNate, @styfle

Publish Canary
  packages/cli/package.json
  packages/plugin-python/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

Publish Stable
  packages/cli/package.json
  packages/plugin-python/package.json
Owners: @TooTallNate

Publish Stable
  packages/cli/package.json
  packages/plugin-python/package.json
  packages/python/package.json
Owners: @TooTallNate, @styfle

Change nextjs detection (#7020)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

[cli] Pass vercel.json to plugins during `vercel build` (#7059)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/cli/src/commands/build.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Added Remix to the list of frameworks (#7061)
  examples/remix/.gitignore
  examples/remix/README.md
  examples/remix/api/index.js
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/demos/about.tsx
  examples/remix/app/routes/demos/about/index.tsx
  examples/remix/app/routes/demos/about/whoa.tsx
  examples/remix/app/routes/demos/actions.tsx
  examples/remix/app/routes/demos/correct.tsx
  examples/remix/app/routes/demos/params.tsx
  examples/remix/app/routes/demos/params/$id.tsx
  examples/remix/app/routes/demos/params/index.tsx
  examples/remix/app/routes/index.tsx
  examples/remix/app/styles/dark.css
  examples/remix/app/styles/demos/about.css
  examples/remix/app/styles/demos/remix.css
  examples/remix/app/styles/global.css
  examples/remix/package.json
  examples/remix/public/favicon.ico
  examples/remix/remix.config.js
  examples/remix/remix.env.d.ts
  examples/remix/tsconfig.json
  examples/remix/vercel.json
  packages/frameworks/logos/remix.svg
  packages/frameworks/src/frameworks.ts
Owners: @mcsdevv, @timothyis, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
  packages/python/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[build-utils] Add support for writing routes-manifest.json (#7062)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/convert-runtime/invalid-functions/api/users.rb
  packages/build-utils/test/convert-runtime/invalid-functions/vercel.json
  packages/build-utils/test/convert-runtime/python-api/api/db/[id].py
  packages/build-utils/test/convert-runtime/python-api/api/index.py
  packages/build-utils/test/convert-runtime/python-api/api/project/[aid]/[bid]/index.py
  packages/build-utils/test/convert-runtime/python-api/api/users/get.py
  packages/build-utils/test/convert-runtime/python-api/api/users/post.py
  packages/build-utils/test/convert-runtime/python-api/file.txt
  packages/build-utils/test/convert-runtime/python-api/util/date.py
  packages/build-utils/test/convert-runtime/python-api/util/math.py
  packages/build-utils/test/convert-runtime/python-api/vercel.json
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[build-utils] Fix zero config routes for `vercel build` (#7063)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Updated Remix template and ensured correct headers (#7064)
  examples/remix/.gitignore
  examples/remix/README.md
  examples/remix/app/root.tsx
  examples/remix/app/styles/global.css
  examples/remix/package.json
  examples/remix/vercel.json
  packages/frameworks/src/frameworks.ts
Owners: @mcsdevv, @timothyis, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

chore: update remix logo (#7070)
  packages/frameworks/logos/remix.svg
Owners: @AndyBitz

Renamed the Remix logo file (#7074)
  packages/frameworks/logos/remix-no-shadow.svg
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[cli] Consider `envPrefix` and `outputDirectory` for `vercel build` (#7069)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/projects/project-settings.ts
Owners: @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Speed up Remix Template (#7077)
  examples/nextjs/package-lock.json
  examples/nextjs/yarn.lock
  examples/remix/.gitignore
  examples/remix/api/index.js
  examples/remix/app/styles/demos/remix.css
  examples/remix/package-lock.json
  examples/remix/package.json
  examples/remix/remix.config.js
  packages/frameworks/logos/remix.svg
Owners: @timneutkens, @Timer, @mcsdevv, @timothyis, @AndyBitz

Don't install Ruby or Python dependencies unnecessarily (#7084)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/types.ts
  packages/python/src/install.ts
  packages/ruby/index.ts
  packages/ruby/install-ruby.ts
Owners: @styfle, @AndyBitz, @TooTallNate, @coetry

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
  packages/python/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @coetry

Stop passing `functions` and `regions` to Runtimes (#7085)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli] Fix `vc build` with nested app dir (#7083)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
  packages/ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @coetry

Properly publish CLI Plugins (#7103)
  packages/plugin-go/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @TooTallNate

Publish Canary
  packages/plugin-go/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @TooTallNate

[cli] Use "127.0.0.1" instead of "localhost" in `vc dev` (#7094)
  packages/cli/src/util/dev/server.ts
Owners: @TooTallNate, @styfle, @AndyBitz

Renamed `runtime` to `use` in static JS config (#7106)
  packages/plugin-node/src/index.ts
  packages/static-config/src/index.ts
  packages/static-config/test/fixtures/deno.ts
  packages/static-config/test/fixtures/invalid-schema.js
  packages/static-config/test/fixtures/node.js
  packages/static-config/test/index.test.ts
Owners: @TooTallNate

[api] Use the new File System API (#7108)
  api/package.json
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
  packages/static-config/package.json
Owners: @TooTallNate

[cli] Ignore `required-server-files.json` if it does not exist (#7111)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
