Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle

Publish Stable
  packages/cli/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[static-build] Return BOA v3 result without `vercel build` (#8146)
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Consume `--no-clipboard` (#8147)
  packages/cli/src/commands/deploy/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Store build error in "builds.json" file in `vc build` (#8148)
  .prettierignore
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/node-error/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/node-error/api/es6.js
  packages/cli/test/fixtures/unit/commands/build/node-error/api/index.js
  packages/cli/test/fixtures/unit/commands/build/node-error/api/mjs.mjs
  packages/cli/test/fixtures/unit/commands/build/node-error/api/typescript.ts
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Normalize output file paths in `vercel build` (#8149)
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/node_modules/versionless-builder/main.js
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Update to latest version of turbo (#8152)
  package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Update log for update-canary-tag script (#8156)
  utils/update-canary-tag.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Update allowQuery for prerendered paths (#8158)
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-server-build/index.test.js
  packages/next/test/fixtures/00-server-build/pages/api/revalidate.js
  packages/next/test/fixtures/00-server-build/pages/fallback-blocking/[slug].js
  packages/next/test/integration/index.test.js
  packages/next/test/integration/server-build/next.config.js
  packages/next/test/utils.ts
Owners: @TooTallNate, @ijjk

[cli] write config.json when exiting because of error in builder (#8163)
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[routing-utils] MAJOR refactor getTransformedRoutes and types (#8155)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/server.ts
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/redwood/src/index.ts
  packages/redwood/test/test.js
  packages/routing-utils/src/index.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.ts
  packages/routing-utils/test/superstatic.spec.ts
  packages/static-build/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz

[build-utils][node][python][ruby] Update error message for EOL runtimes (#8167)
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/unit.test.ts
  packages/python/src/version.ts
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/unit.test.ts
  packages/ruby/install-ruby.ts
  packages/ruby/test/test.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Print full error when unknown/unexpected (#8059)
  packages/cli/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Upgrade python tests to 3.9 (#8181)
  packages/python/test/fixtures/02-wsgi-pipenv/Pipfile
  packages/python/test/fixtures/02-wsgi-pipenv/Pipfile.lock
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/Pipfile
  packages/python/test/fixtures/03-env-vars/Pipfile.lock
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/fixtures/08-django/Pipfile
  packages/python/test/fixtures/08-django/Pipfile.lock
  packages/python/test/fixtures/08-django/vercel.json
  packages/python/test/fixtures/11-asgi/Pipfile
  packages/python/test/fixtures/11-asgi/Pipfile.lock
  packages/python/test/fixtures/11-asgi/index.py
  packages/python/test/fixtures/11-asgi/requirements.txt
  packages/python/test/fixtures/11-asgi/vercel.json
  packages/python/test/fixtures/12-asgi-function/vercel.json
  packages/python/test/fixtures/15-binary-handler/index.py
  packages/python/test/fixtures/15-binary-handler/probe.js
  packages/python/test/fixtures/15-binary-handler/triangle.png
  packages/python/test/fixtures/15-binary-handler/vercel.json
  packages/python/test/fixtures/25-exclude-files/vercel.json
  packages/python/test/fixtures/27-square-brackets/vercel.json
  packages/python/test/fixtures/28-pydantic/vercel.json
  packages/python/test/unit.test.ts
  test/lib/deployment/now-deploy.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Set `ignoreBuildScript: true` option in "vc build" command (#8184)
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/static-with-pkg/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static-with-pkg/index.html
  packages/cli/test/fixtures/unit/commands/build/static-with-pkg/package.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Write top-level error to `builds.json` file in "vc build" (#8193)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/error.ts
  packages/cli/test/fixtures/unit/commands/build/error-vercel-json-validation/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/error-vercel-json-validation/index.html
  packages/cli/test/fixtures/unit/commands/build/error-vercel-json-validation/vercel.json
  packages/cli/test/unit/commands/build.test.ts
  packages/cli/test/unit/util/error.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Add `--environment` flag to `vc env pull` (#8162)
  packages/cli/src/commands/env/index.ts
  packages/cli/test/unit/commands/env.test.ts
Owners: @styfle, @lucleray, @TooTallNate, @EndangeredMassa

[cli][client][build-utils][node][static-build] updated node-fetch to fix high severity security vulnerability (#8180)
  api/package.json
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
  packages/static-build/package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Support multiple remote URLs in Git config (#8145)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/input/list.ts
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/git/HEAD
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/git/description
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/.gitignore
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/.vercel/project.json
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/COMMIT_EDITMSG
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/HEAD
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/config
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/description
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/objects/45/b983be36b73c0788dc9cbcb76cbb80fc7bb057
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/objects/80/50816205303e5957b2909083c50677930d5b29
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/objects/b2/e4d98c09ed53967b0a8f67c293c04ca4173438
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/refs/heads/master
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/index.txt
  packages/cli/test/fixtures/unit/create-git-meta/multiple-remotes/git/HEAD
  packages/cli/test/fixtures/unit/create-git-meta/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/create-git-meta/multiple-remotes/git/description
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[python] support Sanic >=21 and python >= 3.10 (#8045)
  packages/python/test/fixtures/30-asgi-lifespan/Pipfile
  packages/python/test/fixtures/30-asgi-lifespan/Pipfile.lock
  packages/python/test/fixtures/30-asgi-lifespan/api/raw.py
  packages/python/test/fixtures/30-asgi-lifespan/api/sani22.py
  packages/python/test/fixtures/30-asgi-lifespan/vercel.json
  packages/python/vc_init.py
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli][dev] handle no response from edge functions (#8095)
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-no-response.js
  packages/cli/test/dev/fixtures/middleware-no-response/api/hello.js
  packages/cli/test/dev/fixtures/middleware-no-response/middleware.js
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/dev-server.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Ensure manifests are specific to the included pages (#8172)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-mixed-dynamic-routes/index.test.js
  packages/next/test/fixtures/00-mixed-dynamic-routes/package.json
  packages/next/test/fixtures/00-mixed-dynamic-routes/pages/[...slug].js
  packages/next/test/fixtures/00-mixed-dynamic-routes/pages/[slug].js
  packages/next/test/fixtures/00-mixed-dynamic-routes/pages/index.js
  packages/next/test/fixtures/00-mixed-dynamic-routes/vercel.json
  test/lib/run-build-lambda.js
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

[cli] Bump `@vercel/fun` to 1.0.4 (#8198)
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/types.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] improve `isBundledBuilder` logic (#8086)
  packages/cli/src/util/dev/builder-cache.ts
  packages/cli/test/unit/util/dev/builder-cache.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli][dev] support environment variables in edge functions during `vc dev` (#8207)
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next][node][redwood][remix] Update `@vercel/nft` to 0.21.0 (#8208)
  packages/next/package.json
  packages/next/test/integration/test-limit-exceeded-404-static-files/next.config.js
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  test/lib/run-build-lambda.js
  yarn.lock
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

[cli] Lazy-load "metrics" object to fix jest reporting open handle (#7866)
  packages/cli/src/index.ts
  packages/cli/src/util/output/error.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[utils] allow a github PAT token to get past rate limit (#8209)
  utils/changelog.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Prevent `vc deploy --prebuilt` when `vc build` failed (#8194)
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/get-prebuilt-json.ts
  packages/cli/test/fixtures/unit/build-output-api-failed-before-builds/.gitignore
  packages/cli/test/fixtures/unit/build-output-api-failed-before-builds/.vercel/output/builds.json
  packages/cli/test/fixtures/unit/build-output-api-failed-within-build/.gitignore
  packages/cli/test/fixtures/unit/build-output-api-failed-within-build/.vercel/output/builds.json
  packages/cli/test/fixtures/unit/build-output-api-preview/.gitignore
  packages/cli/test/fixtures/unit/build-output-api-production/.gitignore
  packages/cli/test/unit/commands/deploy.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] increase timeout for test that's failing on windows (#8221)
  packages/build-utils/test/unit.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[next] Fix error message typo (#8218)
  packages/next/src/index.ts
Owners: @TooTallNate, @ijjk

[docs] Fix CONTRIBUTING file local development guideline, change dir after git clone (#8225)
  .github/CONTRIBUTING.md
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Update size limit test (#8226)
  packages/next/test/integration/test-limit-exceeded-server-build/pages/api/chrome.js
Owners: @TooTallNate, @ijjk

[cli] Add support for Vercel Analytics in "vercel build" command (#8220)
  packages/cli/src/commands/build.ts
  packages/cli/src/types.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/.gitignore
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/env.js
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/package.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Use `ts-node` with SWC instead of `ts-eager` (#8224)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/tsconfig.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Log delta in `vc env pull` (#8170)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/env/add-env-record.ts
  packages/cli/src/util/env/diff-env-files.ts
  packages/cli/src/util/parse-env.ts
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-corrupt/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-corrupt/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-corrupt/.vercel/project.json
  packages/cli/test/fixtures/unit/vercel-env-pull-delta/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta/.vercel/project.json
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/env.test.ts
  packages/cli/test/unit/commands/pull.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @lucleray
