Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

[cli][build-utils] Fix dependencies for `boxen` (#8210)
  packages/build-utils/package.json
  packages/cli/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Add "dev" script, remove "build-dev" script (#8222)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Do not load `.env` in "vercel build" command (#8228)
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.gitignore
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.vercel/.env.preview.local
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.vercel/.env.production.local
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/env.js
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/package.json
  packages/cli/test/fixtures/unit/commands/build/env-root-level/.env
  packages/cli/test/fixtures/unit/commands/build/env-root-level/.gitignore
  packages/cli/test/fixtures/unit/commands/build/env-root-level/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/env-root-level/env.js
  packages/cli/test/fixtures/unit/commands/build/env-root-level/package.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Fix package.json and lockfile detection (#8230)
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Revert "[python] support Sanic >=21 and python >= 3.10" (#8241)
  packages/python/test/fixtures/30-asgi-lifespan/Pipfile
  packages/python/test/fixtures/30-asgi-lifespan/Pipfile.lock
  packages/python/test/fixtures/30-asgi-lifespan/api/raw.py
  packages/python/test/fixtures/30-asgi-lifespan/api/sani22.py
  packages/python/test/fixtures/30-asgi-lifespan/vercel.json
  packages/python/vc_init.py
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] fix zero config resolution in `vc build` (#8244)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Fix turbo cache for test changes (#8246)
  test/lib/deployment/now-deploy.js
  turbo.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Apply `functions` configuration to Serverless Functions in "vc build" (#8243)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/api/memory.js
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Update node tests to run concurrently (#8247)
  packages/node/package.json
  packages/node/test/integration-1.test.js
  packages/node/test/integration-2.test.js
  packages/node/test/integration-3.test.js
  packages/node/test/integration-4.test.js
  packages/node/test/integration-5.test.js
  packages/node/test/integration-setup.js
  packages/node/test/integration.test.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[all] Update `@vercel/ncc` to v0.34.0 (#8248)
  packages/build-utils/package.json
  packages/cli/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Minor `vc inspect` visual updates (#8160)
  packages/cli/src/commands/inspect.ts
  packages/cli/src/util/output/builds.ts
  packages/cli/test/unit/commands/inspect.test.ts
  packages/client/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[static-build] Add .vercel to static-build ignore list regardless of config (#8255)
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/static-build/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[tests] Fix next runtime test (#8258)
  packages/next/test/fixtures/00-nested-build/vercel.json
Owners: @TooTallNate, @ijjk

[node] Add WebAssembly importing support for the @vercel/node builder (#8204)
  packages/node/src/dev-server.ts
  packages/node/src/edge-wasm-plugin.ts
  packages/node/src/index.ts
  packages/node/test/edge-wasm-plugin.test.ts
  packages/node/test/fixtures/61-edge-function/api/wasm.js
  packages/node/test/fixtures/61-edge-function/increment.wasm
  packages/node/test/fixtures/61-edge-function/vercel.json
  packages/node/tsconfig.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[tests] Speed up vc tarball (#8261)
  api/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] trim down values to only what is required for esbuild wrapping logic (#8260)
  packages/node/src/dev-server.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Update tests to run with vercel cli tarball (#8257)
  .github/workflows/test.yml
  packages/build-utils/test/integration.test.ts
  packages/fs-detectors/test/integration.test.ts
  packages/go/test/fixtures/17-go-mod-api/vercel.json
  packages/go/test/test.js
  packages/hydrogen/test/test.js
  packages/next/test/utils.ts
  packages/node/test/fixtures/35-puppeteer/api/screenshot.js
  packages/node/test/fixtures/35-puppeteer/lighthouse/index.js
  packages/node/test/fixtures/35-puppeteer/package.json
  packages/node/test/fixtures/35-puppeteer/probe.js
  packages/node/test/fixtures/35-puppeteer/vercel.json
  packages/node/test/fixtures/35-puppeteer/yarn.lock
  packages/node/test/integration-setup.js
  packages/python/test/integration.test.ts
  packages/redwood/test/test.js
  packages/remix/test/test.js
  packages/ruby/test/test.js
  packages/static-build/test/integration-setup.js
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
  utils/chunk-tests.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz

[node] Remove `.toString()` in nft `readFile()` hook (#8263)
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Add 'alias' command to help screen and alphabetize commands (#8256)
  packages/cli/src/commands/deploy/args.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[node] Consider "browser" and "module" fields in `package.json` when tracing Edge Functions (#8262)
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-classic.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-browser/dist-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-browser/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-classic/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-classic/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-main/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-main/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-module/dist-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-module/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/dist-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/dist-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-main/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-main/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-main/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/dist-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/package.json
  packages/cli/test/unit/commands/build.test.ts
  packages/node/src/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Remove turbo's `dependsOn` to speed up tests (#8264)
  turbo.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Fix `vc build` with legacy `@now/static` (#8273)
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/fixtures/unit/commands/build/now-static/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/now-static/readme.md
  packages/cli/test/fixtures/unit/commands/build/now-static/vercel.json
  packages/cli/test/fixtures/unit/commands/build/now-static/www/index.html
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] Run dev e2e against same cli version (#8274)
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[all] Revert ncc back to 0.24.0 (#8276)
  packages/build-utils/package.json
  packages/cli/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Fix env delta message (#8271)
  packages/cli/src/util/env/diff-env-files.ts
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-no-changes/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-no-changes/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-no-changes/.vercel/project.json
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/env.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Stable
  packages/cli/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

update edge-runtime to allow `instanceof` to work with primitives (#8242)
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/fixtures/edge-function/package.json
  packages/cli/test/dev/fixtures/edge-function/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/node/package.json
  packages/node/src/dev-server.ts
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[fs-detectors] Exclude the middleware builder if it's a Next.js app (#8239)
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[go] remove `meta.isDev` references and restore partial tests (#8287)
  packages/cli/test/dev/fixtures/go/api/[segment].go
  packages/cli/test/dev/fixtures/go/api/another.go
  packages/cli/test/dev/integration-4.test.ts
  packages/go/index.ts
  packages/go/test/fixtures/08-include-files/another.go
  packages/go/test/test.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Fix symlink on download (#8288)
  packages/build-utils/src/fs/download.ts
  packages/build-utils/test/unit.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[docs] Link to Build Output API docs (#8292)
  DEVELOPING_A_RUNTIME.md
Owners: @TooTallNate, @EndangeredMassa, @styfle

[dev] log middleware errors in vc dev (#8267)
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-matchers-invalid/middleware.js
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/utils.js
  packages/node/src/dev-server.ts
  packages/node/src/utils.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Fix priority for notFound preview routes (#7902)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-server-build/next.config.js
  packages/next/test/fixtures/00-server-build/pages/build-time-not-found/[slug].js
  packages/next/test/fixtures/00-server-build/vercel.json
Owners: @TooTallNate, @ijjk

[next] Fix _next/data resolving priority for dynamic routes (#8278)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/pages/[teamId]/[slug].js
  packages/next/test/fixtures/00-middleware/pages/dynamic/static.js
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
Owners: @TooTallNate, @ijjk

[next] Ensure we resolve _next/data dynamic routes correctly with i18n (#8297)
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-i18n/index.test.js
  packages/next/test/fixtures/00-middleware-i18n/middleware.js
  packages/next/test/fixtures/00-middleware-i18n/next.config.js
  packages/next/test/fixtures/00-middleware-i18n/package.json
  packages/next/test/fixtures/00-middleware-i18n/pages/[teamId]/[slug].js
  packages/next/test/fixtures/00-middleware-i18n/pages/_sites/[site].js
  packages/next/test/fixtures/00-middleware-i18n/pages/about.js
  packages/next/test/fixtures/00-middleware-i18n/pages/dynamic/[id]/index.js
  packages/next/test/fixtures/00-middleware-i18n/pages/dynamic/static.js
  packages/next/test/fixtures/00-middleware-i18n/pages/fetch-subrequest/index.js
  packages/next/test/fixtures/00-middleware-i18n/pages/home/a.js
  packages/next/test/fixtures/00-middleware-i18n/pages/home/b.js
  packages/next/test/fixtures/00-middleware-i18n/pages/index.js
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
Owners: @TooTallNate, @ijjk

[python] Fix error message for discontinued Python 3.6 (#8300)
  packages/python/src/index.ts
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/Pipfile
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/Pipfile.lock
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/api/index.py
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/vercel.json
  packages/python/test/fixtures/31-fail-build-invalid-python36/Pipfile
  packages/python/test/fixtures/31-fail-build-invalid-python36/Pipfile.lock
  packages/python/test/fixtures/31-fail-build-invalid-python36/api/index.py
  packages/python/test/fixtures/31-fail-build-invalid-python36/vercel.json
  packages/python/test/integration.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle
