Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

[build-utils] Add `allowQuery` to Prerender (#6766)
  packages/build-utils/src/prerender.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[frameworks] Add Nuxt 3 to framework detection (#6823)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli] Add `outputBuffer` getter and mutable `isTTY` for tests (#6827)
  packages/cli/src/util/output/create-output.ts
  packages/cli/test/commands/inspect.test.ts
  packages/cli/test/commands/login.test.ts
  packages/cli/test/commands/whoami.test.ts
  packages/cli/test/mocks/client.ts
Owners: @TooTallNate

Add regions to lambda options (#6829)
  packages/build-utils/src/lambda.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli] Use `GET /v2/user` endpoint (#6828)
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/teams/list.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/alias/get-deployment-by-alias.ts
  packages/cli/src/util/get-user.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/projects/link.ts
  packages/cli/src/util/report-error.ts
  packages/cli/test/integration.js
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/user.ts
Owners: @TooTallNate, @styfle, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska

[frameworks] Make "vercel dev" work with Ionic Angular projects (#6658)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[cli] Don't pass `teamId` query param to `/verify` token endpoint (#6841)
  packages/cli/src/util/login/verify.ts
Owners: @TooTallNate

[cli] Use getters for `Now` props that mirror `Client` (#6838)
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/secrets.js
  packages/cli/src/util/index.ts
  packages/cli/src/util/link/setup-and-link.ts
Owners: @TooTallNate

[cli] Fix swapped error messages in `executeBuild()` (#6724)
  packages/cli/src/util/dev/builder.ts
Owners: @TooTallNate, @styfle, @AndyBitz

[example][frameworks] Add support for Parcel framework (#6836)
  examples/parcel/.gitignore
  examples/parcel/README.md
  examples/parcel/package.json
  examples/parcel/src/app.js
  examples/parcel/src/index.html
  examples/parcel/src/styles.css
  examples/parcel/yarn.lock
  packages/frameworks/logos/parcel.png
  packages/frameworks/src/frameworks.ts
Owners: @mcsdevv, @timothyis, @AndyBitz

[routing-utils] Update routes schema for new property (#6860)
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
  packages/routing-utils/test/merge.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

Update middleware route (#6863)
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
  packages/routing-utils/test/merge.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[cli] Add `vercel pull` command (#6822)
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/index.ts
  packages/cli/src/util/projects/write-project-settings.ts
  packages/cli/test/commands/pull.test.ts
  packages/cli/test/fixtures/unit/vercel-pull-next/.gitignore
  packages/cli/test/fixtures/unit/vercel-pull-next/package.json
  packages/cli/test/fixtures/unit/vercel-pull-next/pages/index.js
  packages/cli/test/fixtures/unit/vercel-pull-next/vercel.json
  packages/cli/test/helpers/setup-fixture.ts
  packages/cli/test/mocks/client.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/mocks/team.ts
  packages/cli/test/mocks/user.ts
Owners: @TooTallNate, @styfle, @lucleray

[cli] Add CLI login unit test (#6866)
  packages/cli/src/util/client.ts
  packages/cli/test/commands/login.test.ts
  packages/cli/test/mocks/user.ts
Owners: @TooTallNate

[routing-utils] Add `missing` fields (#6872)
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[frameworks] Fix small typo in "Other" preset description (#6882)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[cli] Add `vercel build` (#6861)
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/index.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/cli/src/util/output/color-name-cache.ts
  packages/cli/src/util/projects/find-framework.ts
  packages/cli/src/util/projects/link.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/fixtures/unit/vercel-build-gatsby/.gitignore
  packages/cli/test/fixtures/unit/vercel-build-gatsby/.prettierignore
  packages/cli/test/fixtures/unit/vercel-build-gatsby/.prettierrc
  packages/cli/test/fixtures/unit/vercel-build-gatsby/LICENSE
  packages/cli/test/fixtures/unit/vercel-build-gatsby/README.md
  packages/cli/test/fixtures/unit/vercel-build-gatsby/gatsby-browser.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/gatsby-config.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/gatsby-node.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/gatsby-ssr.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/package.json
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/components/header.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/components/image.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/components/layout.css
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/components/layout.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/components/seo.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/images/gatsby-astronaut.png
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/images/gatsby-icon.png
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/pages/404.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/pages/index.js
  packages/cli/test/fixtures/unit/vercel-build-gatsby/src/pages/page-2.js
  packages/cli/test/fixtures/unit/vercel-pull-next/.gitignore
  packages/client/src/create-deployment.ts
  packages/client/src/types.ts
  packages/client/src/utils/index.ts
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  yarn.lock
Owners: @TooTallNate, @rdev, @styfle, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli][client] Add step for checks (#6889)
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/get-deployment-checks.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/client/src/check-deployment-status.ts
  packages/client/src/utils/index.ts
Owners: @TooTallNate, @rdev, @styfle

[cli] Fix tracing for `vc build` (#6896)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Add `@vercel/static-config` (#6897)
  .eslintignore
  packages/static-config/.eslintignore
  packages/static-config/.gitignore
  packages/static-config/package.json
  packages/static-config/src/index.ts
  packages/static-config/test/fixtures/deno.ts
  packages/static-config/test/fixtures/invalid-schema.js
  packages/static-config/test/fixtures/no-config.js
  packages/static-config/test/fixtures/node.js
  packages/static-config/test/index.test.ts
  packages/static-config/test/tsconfig.json
  packages/static-config/tsconfig.json
  yarn.lock
Owners: @TooTallNate

Add to "static-config" to `run.js` script
  utils/run.js
Owners: @TooTallNate

[cli] Fix integration tests that check `.gitignore` (#6904)
  packages/cli/test/integration.js
Owners: @TooTallNate

[examples] Update Vercel Next.js example template to 12.0.1 (#6905)
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Owners: @timneutkens, @Timer

[cli] Improve tracing in vc build (#6898)
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/vercel-pull-next/static/robots.txt
  yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/client/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @rdev, @styfle

[cli] Ignore `.env` and `.gitignore` in "vc build" (#6910)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

Add initial `vercel-plugin-middleware` (#6892)
  .eslintignore
  packages/cli/scripts/build.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/edge-middleware-ts/_middleware.ts
  packages/cli/test/fixtures/unit/edge-middleware-ts/response.ts
  packages/cli/test/fixtures/unit/edge-middleware/_middleware.js
  packages/cli/test/fixtures/unit/edge-middleware/index.html
  packages/cli/test/fixtures/unit/edge-middleware/response.json
  packages/cli/test/util/dev/server.test.ts
  packages/middleware/.eslintignore
  packages/middleware/.gitignore
  packages/middleware/build.js
  packages/middleware/package.json
  packages/middleware/src/entries.js
  packages/middleware/src/index.ts
  packages/middleware/src/websandbox/adapter.ts
  packages/middleware/src/websandbox/error.ts
  packages/middleware/src/websandbox/form-data.ts
  packages/middleware/src/websandbox/index.ts
  packages/middleware/src/websandbox/is.ts
  packages/middleware/src/websandbox/sandbox/polyfills.ts
  packages/middleware/src/websandbox/sandbox/sandbox.ts
  packages/middleware/src/websandbox/spec-compliant/body.ts
  packages/middleware/src/websandbox/spec-compliant/fetch-event.ts
  packages/middleware/src/websandbox/spec-compliant/headers.ts
  packages/middleware/src/websandbox/spec-compliant/request.ts
  packages/middleware/src/websandbox/spec-compliant/response.ts
  packages/middleware/src/websandbox/spec-extension/fetch-event.ts
  packages/middleware/src/websandbox/spec-extension/request.ts
  packages/middleware/src/websandbox/spec-extension/response.ts
  packages/middleware/src/websandbox/types.ts
  packages/middleware/src/websandbox/utils.ts
  packages/middleware/test/__snapshots__/build.test.ts.snap
  packages/middleware/test/build.test.ts
  packages/middleware/test/fixtures/simple/_middleware.js
  packages/middleware/test/tsconfig.json
  packages/middleware/tsconfig.json
  utils/run.js
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Bump `vercel-plugin-node` to latest
  packages/cli/package.json
  yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
  packages/middleware/package.json
Owners: @TooTallNate

[cli] Bundle middleware deps (#6932)
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/middleware/build.js
  packages/middleware/package.json
  packages/middleware/src/index.ts
  yarn.lock
Owners: @TooTallNate

[cli] Make sure `vc pull` properly sets `currentTeam` (#6936)
  packages/cli/src/commands/pull.ts
Owners: @TooTallNate

[cli] Render an error page when middleware explodes. (#6934)
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/edge-middleware-error/_middleware.js
  packages/cli/test/util/dev/server.test.ts
  packages/middleware/src/index.ts
Owners: @TooTallNate, @styfle, @AndyBitz
