Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

[cli] Fix "now-dev-next" and "now-dev-static-build-routing" unit tests (#7824)
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/now-dev-next/.gitignore
  packages/cli/test/fixtures/unit/now-dev-next/next.config.js
  packages/cli/test/fixtures/unit/now-dev-next/package.json
  packages/cli/test/fixtures/unit/now-dev-next/pages/index.js
  packages/cli/test/fixtures/unit/now-dev-next/vercel.json
  packages/cli/test/util/dev/server.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

Update to latest version of turbo (#7829)
  package.json
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Fix loading next launcher with type: module in package.json (#7828)
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/test/fixtures/35-esm-package/index.test.js
  packages/next/test/fixtures/35-esm-package/package.json
  packages/next/test/fixtures/35-esm-package/pages/api/hello.js
  packages/next/test/fixtures/35-esm-package/pages/index.js
  packages/next/test/fixtures/35-esm-package/vercel.json
Owners: @TooTallNate, @ijjk

[next][node][redwood] Update to latest version of @vercel/nft (#7827)
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  yarn.lock
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

Publish Canary
  packages/cli/package.json
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Add `vercel build` command (#7673)
  packages/build-utils/src/types.ts
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/build/import-builders.ts
  packages/cli/src/util/build/static-builder.ts
  packages/cli/src/util/build/unzip.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/src/util/pkg-name.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/fixtures/unit/vercel-env-pull/.gitignore
  packages/cli/test/fixtures/unit/vercel-pull-next/.gitignore
  packages/client/tests/fixtures/file-system-api-root-directory/foo.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/.vercel/output/static/baz.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/.vercel/output/static/sub/qux.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/bar.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/.vercel/output/static/baz.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/.vercel/output/static/sub/qux.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/bar.txt
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[remix] Add `@vercel/remix` Builder (#7814)
  .github/workflows/test-unit.yml
  packages/cli/package.json
  packages/remix/build.js
  packages/remix/default-server.js
  packages/remix/jest.config.js
  packages/remix/package.json
  packages/remix/src/build.ts
  packages/remix/src/index.ts
  packages/remix/src/prepare-cache.ts
  packages/remix/src/types.ts
  packages/remix/test/build.test.ts
  packages/remix/test/fixtures/01-remix-basics/.gitignore
  packages/remix/test/fixtures/01-remix-basics/README.md
  packages/remix/test/fixtures/01-remix-basics/app/entry.client.tsx
  packages/remix/test/fixtures/01-remix-basics/app/entry.server.tsx
  packages/remix/test/fixtures/01-remix-basics/app/root.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/index.tsx
  packages/remix/test/fixtures/01-remix-basics/package.json
  packages/remix/test/fixtures/01-remix-basics/public/favicon.ico
  packages/remix/test/fixtures/01-remix-basics/remix.config.js
  packages/remix/test/fixtures/01-remix-basics/remix.env.d.ts
  packages/remix/test/fixtures/01-remix-basics/tsconfig.json
  packages/remix/test/fixtures/01-remix-basics/vercel.json
  packages/remix/test/fixtures/01-remix-basics/yarn.lock
  packages/remix/test/test.js
  packages/remix/test/tsconfig.json
  packages/remix/tsconfig.json
  utils/run.js
  yarn.lock
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[cli] Don't use `tree-kill` for shutting down `startDevServer()` process in `vc dev` (#7830)
  packages/cli/src/util/dev/server.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] Use `substring()` instead of `substr()` (#7839)
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Owners: @TooTallNate, @ijjk

Add list of supported monorepo managers (#7760)
  packages/build-utils/src/detect-framework.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/monorepos/monorepo-managers.ts
  packages/build-utils/src/workspaces/workspace-managers.ts
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/a/package.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/b/package.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/package.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/turbo.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/yarn.lock
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/a/package.json
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/b/package.json
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/package.json
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.detect-monorepo-managers.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Recommend `vc env` instead of `vc secrets` (#6217)
  packages/cli/src/commands/secrets.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[frameworks] Use `@vercel/remix` Builder for "remix" preset (#7831)
  examples/remix/vercel.json
  packages/frameworks/src/frameworks.ts
Owners: @leerob, @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Hard-code `VERCEL: 1` env var for "vc build" (#7843)
  packages/cli/src/commands/build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[static-build] Support subset of Build Output API v2 (#7808)
  examples/solidstart/.gitignore
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/src/utils/build-output-v2.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build-fixtures/09-build-output-v3/.gitignore
  packages/static-build/test/build-fixtures/09-build-output-v3/build.js
  packages/static-build/test/build-fixtures/10-build-output-v2/.gitignore
  packages/static-build/test/build-fixtures/10-build-output-v2/build.js
  packages/static-build/test/build-fixtures/10-build-output-v2/package.json
  packages/static-build/test/build-fixtures/11-build-output-v1/.gitignore
  packages/static-build/test/build-fixtures/11-build-output-v1/build.js
  packages/static-build/test/build-fixtures/11-build-output-v1/package.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.gitignore
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/nitro.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/_nuxt/entry-51e0e8ac.mjs
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/_nuxt/entry.fec640a4.css
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/_nuxt/manifest.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/index.html
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/_nuxt/entry-51e0e8ac.mjs
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/_nuxt/entry.fec640a4.css
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/_nuxt/manifest.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/index.html
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercelignore
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/README.md
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/app.vue
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/build.js
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/nuxt.config.ts
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/package.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/tsconfig.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/yarn.lock
  packages/static-build/test/build.test.ts
Owners: @leerob, @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[cli] Refactor vc build `installBuilders()` logic to not use a loop (#7842)
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[frameworks] Remove `defaultHeaders` / `defaultRedirects` / `defaultRewrites` / `getFsOutputDir()` (#7832)
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[tests] update CI to use node@14 and drop support for node@12 (#7819)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  api/tsconfig.json
  packages/build-utils/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/frameworks/tsconfig.json
  packages/go/tsconfig.json
  packages/next/tsconfig.json
  packages/node-bridge/tsconfig.json
  packages/node/src/typescript.ts
  packages/node/tsconfig.json
  packages/python/tsconfig.json
  packages/redwood/tsconfig.json
  packages/remix/tsconfig.json
  packages/routing-utils/tsconfig.json
  packages/ruby/tsconfig.json
  packages/static-build/tsconfig.json
  packages/static-config/tsconfig.json
  test/lib/deployment/now-deploy.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz

[examples] Add `vercel.json` file back to "remix" template for now (#7851)
  examples/remix/vercel.json
Owners: @leerob

[tests] Revert "update CI to use node@14 and drop support for node@12 (#7819)" (#7853)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  api/tsconfig.json
  packages/build-utils/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/frameworks/tsconfig.json
  packages/go/tsconfig.json
  packages/next/tsconfig.json
  packages/node-bridge/tsconfig.json
  packages/node/src/typescript.ts
  packages/node/tsconfig.json
  packages/python/tsconfig.json
  packages/redwood/tsconfig.json
  packages/remix/tsconfig.json
  packages/routing-utils/tsconfig.json
  packages/ruby/tsconfig.json
  packages/static-build/tsconfig.json
  packages/static-config/tsconfig.json
  test/lib/deployment/now-deploy.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz

[next] Fix middleware order and add e2e test (#7847)
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-middleware/index.test.js
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/next.config.js
  packages/next/test/fixtures/00-middleware/package.json
  packages/next/test/fixtures/00-middleware/pages/about.js
  packages/next/test/fixtures/00-middleware/pages/dynamic/[id]/index.js
  packages/next/test/fixtures/00-middleware/pages/fetch-subrequest/index.js
  packages/next/test/fixtures/00-middleware/pages/home/a.js
  packages/next/test/fixtures/00-middleware/pages/home/b.js
  packages/next/test/fixtures/00-middleware/pages/index.js
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
  packages/next/test/integration/middleware/next.config.js
  packages/next/test/integration/middleware/pages/dynamic/[id]/_middleware.js
  packages/next/test/integration/middleware/pages/fetch-subrequest/_middleware.js
  packages/next/test/integration/middleware/pages/home/_middleware.js
  packages/next/test/integration/middleware/pages/query-params/_middleware.js
  packages/next/test/integration/middleware/vercel.json
Owners: @TooTallNate, @ijjk

[next] Remove unused middleware definition (#7854)
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Owners: @TooTallNate, @ijjk

[next][build-utils] Update to re-use build result type from build-utils (#7857)
  packages/build-utils/src/types.ts
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[examples] Add missing semi to "solidstart" vite config (#7858)
  examples/solidstart/vite.config.js
Owners: @leerob

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next][node] Bump `@vercel/nft` to 0.19.1 (#7860)
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

[tests] update fixture path (#7862)
  packages/cli/test/unit/util/projects/get-vercel-directory.test.ts
  packages/cli/test/unit/util/projects/link.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] bump node version to 14 (#7863)
  .github/workflows/test-integration-cli.yml
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[tests] improve error message when a deploy fails (#7864)
  test/lib/deployment/now-deploy.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Symlink `@now/build-utils` when installing builders in "vc build" (#7844)
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Add getWorkspaces helper function (#7775)
  packages/build-utils/src/index.ts
  packages/build-utils/src/workspaces/get-workspaces.ts
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/c/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/d/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/pnpm-lock.yaml
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/pnpm-workspace.yaml
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/a/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/b/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/ignored/.gitkeep
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/yarn.lock
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/c/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/d/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/pnpm-lock.yaml
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/pnpm-workspace.yaml
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/a/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/b/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/ignored/.gitkeep
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/yarn.lock
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/a/package.json
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/b/package.json
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/package.json
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.detect-monorepo-managers.test.ts
  packages/build-utils/test/unit.detect-workspace-managers.test.ts
  packages/build-utils/test/unit.get-workspaces.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[next] Ensure test-next-local is run in CI (#7868)
  packages/next/test/integration/index.test.js
  packages/next/test/integration/middleware.test.ts
  turbo.json
  utils/chunk-tests.js
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

[next] Allow edge api endpoints in Next.js (#7855)
  packages/next/src/index.ts
  packages/next/src/utils.ts
Owners: @TooTallNate, @ijjk

[tests] Skip env vars for forks (#7873)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[tests] Conditionally set env vars (#7874)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[docs] Fix CONTRIBUTING.md grammar (#7575)
  .github/CONTRIBUTING.md
Owners: @TooTallNate, @EndangeredMassa, @styfle

Publish Canary
  packages/cli/package.json
  packages/next/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk

[tests] Fix tests with promises (#7880)
  packages/build-utils/test/fixtures/16-node-env-install/build.js
  packages/build-utils/test/fixtures/24-pnpm-hoisted/index.js
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/index.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle
