Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

Made CLI Plugin publishing work (#7113)
  packages/plugin-go/package.json
  packages/plugin-go/src/index.ts
  packages/plugin-go/tsconfig.json
  packages/plugin-python/package.json
  packages/plugin-python/src/index.ts
  packages/plugin-python/tsconfig.json
  packages/plugin-ruby/package.json
  packages/plugin-ruby/src/index.ts
  packages/plugin-ruby/tsconfig.json
Owners: @TooTallNate

Publish Canary
  packages/plugin-go/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @TooTallNate

Filter CLI Plugin output (#7114)
  packages/build-utils/src/convert-runtime-to-plugin.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Fixed typo (#7115)
  packages/build-utils/src/convert-runtime-to-plugin.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Fixed Go, Ruby, and Python CLI Plugin output generation (#7117)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Corrected input paths for CLI Plugins (#7121)
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/plugin-go/package.json
  packages/plugin-node/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Use Functions Manifest for Middleware (#7119)
  packages/middleware/package.json
  packages/middleware/src/index.ts
  packages/middleware/test/__snapshots__/build.test.ts.snap
  packages/middleware/test/build.test.ts
Owners: @TooTallNate

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
