Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env       @styfle @lucleray
/packages/client                     @rdev @styfle @TooTallNate
/packages/build-utils                @styfle @AndyBitz @TooTallNate
/packages/node                       @styfle @TooTallNate @lucleray
/packages/node-bridge                @styfle @TooTallNate @lucleray
/packages/next                       @Timer @ijjk
/packages/go                         @styfle @TooTallNate
/packages/python                     @styfle @TooTallNate
/packages/ruby                       @styfle @coetry @TooTallNate
/packages/static-build               @styfle @AndyBitz
/packages/routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

[node] Bump nft to 0.10.0 (#6109)
  packages/node/package.json
  yarn.lock
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

Ensure has segments are replaced in destination (#6059)
  packages/routing-utils/package.json
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
  yarn.lock
Owners: @styfle, @dav-is, @ijjk, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

Update references of default branch to "main" (#6114)
  .github/EXAMPLE_README_TEMPLATE.md
  .github/workflows/cancel.yml
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
  api/examples/download/[segment].ts
  api/examples/list.ts
  lerna.json
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
  utils/run.js
Owners: @TooTallNate, @AndyBitz, @styfle

Update CI badge (#6116)
  README.md
Owners: @TooTallNate

[cli] (Major) Remove deprecated `vc domains verify` command (#6130)
  packages/cli/src/commands/domains/index.ts
  packages/cli/src/commands/domains/verify.ts
Owners: @javivelasco, @mglagola, @anatrajkovska

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[examples] Update deploy URL to use `main` (#6133)
  examples/README.md
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/create-react-app/src/App.js
  examples/custom-build/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gatsby/src/pages/index.js
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/svelte/src/App.svelte
  examples/umijs/README.md
  examples/vue/README.md
Owners: @mcsdevv, @timothyis, @Timer, @styfle

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/node/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray, @dav-is, @ijjk

[cli] Fix `vercel login` command (#6138)
  packages/cli/src/types.ts
  packages/cli/src/util/config/files.ts
  packages/cli/test/integration.js
Owners: @TooTallNate

[cli] Fix SAML usage with `--token` (#6139)
  packages/cli/src/index.js
  packages/cli/src/types.ts
  packages/cli/src/util/config/files.ts
Owners: @TooTallNate

[cli] Update default auth config comment to say "Vercel" (#6140)
  packages/cli/src/util/config/get-default.js
Owners: @TooTallNate

Publish Canary
  packages/cli/package.json
Owners: @TooTallNate

Publish Stable
  packages/cli/package.json
Owners: @TooTallNate

Ensure segments from only `has` are replaced (#6142)
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[build-utils] Fix unit tests for Node.js version check (#6155)
  packages/build-utils/test/unit.test.js
Owners: @styfle, @AndyBitz, @TooTallNate

Replace regex lexer with minimal regex for named groups (#6171)
  packages/routing-utils/package.json
  packages/routing-utils/src/superstatic.ts
  yarn.lock
Owners: @styfle, @dav-is, @ijjk, @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/routing-utils/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @dav-is, @ijjk

[dependencies] Bump husky from v3 to v6 (#6157)
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @TooTallNate

[frameworks] Add placeholder to frameworks' dev command (#6168)
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Owners: @AndyBitz

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Update @ionic/angular devCommand (#6158)
  packages/frameworks/src/frameworks.ts
Owners: @AndyBitz

[examples] Update pusher example to use deploy button (#6183)
  examples/vanilla-pusher-functions/README.md
  examples/vanilla-pusher-functions/vercel.json
Owners: @mcsdevv, @timothyis

[cli] Refactor `vc login` command (#6185)
  packages/cli/src/commands/login.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
  packages/cli/test/integration.js
Owners: @TooTallNate

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[build-utils] Remove `15-yarn-ignore-engines` test fixture (#6193)
  packages/build-utils/test/fixtures/15-yarn-ignore-engines/index.js
  packages/build-utils/test/fixtures/15-yarn-ignore-engines/now.json
  packages/build-utils/test/fixtures/15-yarn-ignore-engines/package.json
Owners: @styfle, @AndyBitz, @TooTallNate

[node] Bump nft to 0.11.2 (#6211)
  packages/cli/test/dev/fixtures/02-angular-node/package.json
  packages/node/package.json
  packages/node/test/fixtures/20-mixed-modules/js/package.json
  packages/node/test/fixtures/20-mixed-modules/ts/package.json
  packages/node/test/fixtures/20-mixed-modules/vercel.json
  packages/node/test/fixtures/35-puppeteer/lighthouse/index.js
  packages/node/test/fixtures/35-puppeteer/package.json
  packages/node/test/fixtures/35-puppeteer/vercel.json
  packages/node/test/fixtures/41-yarn-workspaces-transpilation/api/package.json
  packages/node/test/fixtures/41-yarn-workspaces-transpilation/vercel.json
  packages/node/test/fixtures/42-yarn-workspaces-typescript-dep/api/package.json
  packages/node/test/fixtures/42-yarn-workspaces-typescript-dep/vercel.json
  yarn.lock
Owners: @TooTallNate, @styfle, @lucleray

Publish Canary
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

[node] Bump nft to 0.12.0 (#6229)
  packages/node/package.json
  yarn.lock
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[cli] Refactor `vc inspect` command (#6258)
  packages/cli/src/commands/inspect.ts
  packages/cli/src/util/get-deployment.ts
  packages/client/src/types.ts
Owners: @TooTallNate, @rdev, @styfle

[cli] Refactor `vc switch` command (#6257)
  packages/cli/@types/inquirer/index.d.ts
  packages/cli/package.json
  packages/cli/src/commands/init/init.ts
  packages/cli/src/commands/teams/index.ts
  packages/cli/src/commands/teams/switch.js
  packages/cli/src/commands/teams/switch.ts
  packages/cli/src/util/get-teams.ts
  packages/cli/src/util/input/list.js
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/login/prompt.ts
  yarn.lock
Owners: @TooTallNate

[cli] Refactor `vc logs` command (#6259)
  packages/cli/@types/jsonlines/index.d.ts
  packages/cli/src/commands/logs.ts
  packages/cli/src/index.js
  packages/cli/src/util/client.ts
  packages/cli/src/util/events.ts
Owners: @TooTallNate

[cli] Update `NowConfig` references to `VercelConfig` (#6256)
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/util/alias/get-deployment-by-alias.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/files.ts
  packages/cli/src/util/config/read-config.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/router.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/src/util/dev/validate.ts
  packages/cli/src/util/get-config.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/read-package.ts
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Simplify `emoji` module (#6260)
  packages/cli/src/util/emoji.ts
Owners: @TooTallNate

[python] Fix installRequirement to use explicit version (#6272)
  packages/python/src/index.ts
  packages/python/src/install.ts
Owners: @styfle, @TooTallNate

[node] Bump nft to 0.12.2 (#6274)
  packages/node/package.json
  yarn.lock
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
  packages/python/package.json
Owners: @TooTallNate, @rdev, @styfle, @lucleray
