Repository muze-pus/opensource-vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @styfle, @ijjk, @AndyBitz, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @gdborton, @leerob, @Timer, @timneutkens

Publish Stable
  packages/cli/package.json
  packages/node/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] revert git connect inside `vc link` (#8450)
  packages/build-utils/src/types.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/src/util/link/add-git-connection.ts
  packages/cli/src/util/link/git-connect-prompts.ts
  packages/cli/src/util/link/handle-options.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/git/config
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/git/config
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/commands/link.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

Publish Stable
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz, @ijjk

[examples] Update SvelteKit example for breaking changes. (#8439)
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package.json
  examples/sveltekit/pnpm-lock.yaml
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/lib/Counter.svelte
  examples/sveltekit/src/lib/form.js
  examples/sveltekit/src/lib/header/Header.svelte
  examples/sveltekit/src/routes/+layout.svelte
  examples/sveltekit/src/routes/+page.js
  examples/sveltekit/src/routes/+page.svelte
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/src/routes/about.svelte
  examples/sveltekit/src/routes/about/+page.js
  examples/sveltekit/src/routes/about/+page.svelte
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/src/routes/todos/+page.server.js
  examples/sveltekit/src/routes/todos/+page.svelte
  examples/sveltekit/src/routes/todos/api.js
  examples/sveltekit/src/routes/todos/index.js
  examples/sveltekit/src/routes/todos/index.svelte
  examples/sveltekit/svelte.config.js
  examples/sveltekit/vite.config.js
  examples/sveltekit/yarn.lock
Owners: @leerob

[node][next][redwood][remix] Bump `@vercel/nft@0.22.0` (#8454)
  packages/next/package.json
  packages/node/package.json
  packages/node/test/fixtures/22-readfile-js/api/index.js
  packages/node/test/fixtures/22-readfile-js/assets/build.js
  packages/node/test/fixtures/22-readfile-js/assets/dep.js
  packages/node/test/fixtures/22-readfile-js/probes.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Owners: @TooTallNate, @ijjk, @EndangeredMassa, @styfle

[tests] Reduce test logs (#8455)
  test/lib/deployment/now-deploy.js
Owners: @TooTallNate, @EndangeredMassa, @styfle

[build-utils] Prefix debug message (#8378)
  packages/build-utils/src/debug.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/node/src/index.ts
  packages/redwood/src/index.ts
  packages/remix/src/build.ts
  packages/static-build/test/fixtures/45-node-modules-bin-path/vercel.json
  test/lib/deployment/test-deployment.js
Owners: @TooTallNate, @EndangeredMassa, @styfle, @AndyBitz

[frameworks] Fix link to framework logo (#8459)
  api/frameworks.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] Improved 'vc git' help description for --yes flag (#8460)
  packages/cli/src/commands/git/index.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[cli] add override support for vc build and vc dev (#8451)
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/dev/fixtures/dev-server-and-routes/vercel.json
  packages/cli/test/dev/fixtures/dev-server-query/vercel.json
  packages/cli/test/dev/fixtures/project-settings-override/original/index.txt
  packages/cli/test/dev/fixtures/project-settings-override/overridden/index.txt
  packages/cli/test/dev/fixtures/project-settings-override/package.json
  packages/cli/test/dev/fixtures/project-settings-override/vercel.json
  packages/cli/test/dev/fixtures/project-settings-override/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/.gitignore
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/package.json
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

[tests] rename go test function (#8458)
  packages/go/test/fixtures/24-bad-handler/api/bad-receiver.go
Owners: @TooTallNate, @EndangeredMassa, @styfle

[next] support middleware-manifest v2 (#8319)
  packages/next/src/utils.ts
  packages/next/test/unit/middleware-routes.test.js
  packages/next/test/utils.ts
Owners: @TooTallNate, @ijjk

[cli] Normalize Builder output paths in `vc dev` (#8461)
  packages/cli/src/util/dev/builder.ts
Owners: @TooTallNate, @EndangeredMassa, @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate @EndangeredMassa @styfle
/.github/workflows                       @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/frameworks                     @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/cli/src/commands/domains       @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/certs         @javivelasco @mglagola @anatrajkovska
/packages/cli/src/commands/env           @styfle @lucleray
/packages/client                         @TooTallNate @EndangeredMassa @styfle
/packages/build-utils                    @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/middleware                     @gdborton @javivelasco
/packages/node                           @TooTallNate @EndangeredMassa @styfle
/packages/node-bridge                    @TooTallNate @EndangeredMassa @styfle @ijjk
/packages/next                           @TooTallNate @ijjk
/packages/go                             @TooTallNate @EndangeredMassa @styfle
/packages/python                         @TooTallNate @EndangeredMassa @styfle
/packages/ruby                           @TooTallNate @EndangeredMassa @styfle
/packages/static-build                   @TooTallNate @EndangeredMassa @styfle @AndyBitz
/packages/routing-utils                  @TooTallNate @EndangeredMassa @styfle @ijjk
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @styfle
/examples/hugo                           @styfle
/examples/jekyll                         @styfle
/examples/zola                           @styfle
